@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic");

/*
    Directive by HTML5 UP
    html5up.net | @n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Reset */

    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 80%;
        font: inherit;
        vertical-align: baseline;
    }

    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
        display: block;
    }

    body {
        line-height: 1;
    }

    ol, ul {
        list-style: none;
    }

    blockquote, q {
        quotes: none;
    }

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    body {
        -webkit-text-size-adjust: none;
    }

/* Box Model */

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

/* Containers */

    .container {
        margin-left: auto;
        margin-right: auto;
        opacity: 0.9;
    }

    .container.\31 25\25 {
        width: 100%;
        max-width: 63.75em;
        min-width: 51em;
    }

    .container.\37 5\25 {
        width: 38.25em;
    }

    .container.\35 0\25 {
        width: 25.5em;
    }

    .container.\32 5\25 {
        width: 12.75em;
    }

    .container {
        width: 51em;
    }

    @media screen and (max-width: 1680px) {

        .container.\31 25\25 {
            width: 100%;
            max-width: 63.75em;
            min-width: 51em;
        }

        .container.\37 5\25 {
            width: 38.25em;
        }

        .container.\35 0\25 {
            width: 25.5em;
        }

        .container.\32 5\25 {
            width: 12.75em;
        }

        .container {
            width: 51em;
        }

    }

    @media screen and (max-width: 1280px) {

        .container.\31 25\25 {
            width: 100%;
            max-width: 60em;
            min-width: 48em;
        }

        .container.\37 5\25 {
            width: 36em;
        }

        .container.\35 0\25 {
            width: 24em;
        }

        .container.\32 5\25 {
            width: 12em;
        }

        .container {
            width: 48em;
        }

    }

    @media screen and (max-width: 980px) {

        .container.\31 25\25 {
            width: 100%;
            max-width: 118.75%;
            min-width: 95%;
        }

        .container.\37 5\25 {
            width: 71.25%;
        }

        .container.\35 0\25 {
            width: 47.5%;
        }

        .container.\32 5\25 {
            width: 23.75%;
        }

        .container {
            width: 95%;
        }

    }

    @media screen and (max-width: 840px) {

        .container.\31 25\25 {
            width: 100%;
            max-width: 118.75%;
            min-width: 95%;
        }

        .container.\37 5\25 {
            width: 71.25%;
        }

        .container.\35 0\25 {
            width: 47.5%;
        }

        .container.\32 5\25 {
            width: 23.75%;
        }

        .container {
            width: 95% !important;
        }

    }

    @media screen and (max-width: 736px) {

        .container.\31 25\25 {
            width: 100%;
            max-width: 112.5%;
            min-width: 90%;
        }

        .container.\37 5\25 {
            width: 67.5%;
        }

        .container.\35 0\25 {
            width: 45%;
        }

        .container.\32 5\25 {
            width: 22.5%;
        }

        .container {
            width: 90% !important;
        }

    }

    @media screen and (max-width: 480px) {

        .container.\31 25\25 {
            width: 100%;
            max-width: 125%;
            min-width: 100%;
        }

        .container.\37 5\25 {
            width: 75%;
        }

        .container.\35 0\25 {
            width: 50%;
        }

        .container.\32 5\25 {
            width: 25%;
        }

        .container {
            width: 100% !important;
        }

    }

/* Grid */

    .row {
        border-bottom: solid 1px transparent;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .row > * {
        float: left;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .row:after, .row:before {
        content: '';
        display: block;
        clear: both;
        height: 0;
    }

    .row.uniform > * > :first-child {
        margin-top: 0;
    }

    .row.uniform > * > :last-child {
        margin-bottom: 0;
    }

    .row.\30 \25 > * {
        padding: 0px 0 0 0px;
    }

    .row.\30 \25 {
        margin: 0px 0 -1px 0px;
    }

    .row.uniform.\30 \25 > * {
        padding: 0px 0 0 0px;
    }

    .row.uniform.\30 \25 {
        margin: 0px 0 -1px 0px;
    }

    .row > * {
        padding: 30px 0 0 30px;
    }

    .row {
        margin: -30px 0 -1px -30px;
    }

    .row.uniform > * {
        padding: 30px 0 0 30px;
    }

    .row.uniform {
        margin: -30px 0 -1px -30px;
    }

    .row.\32 00\25 > * {
        padding: 60px 0 0 60px;
    }

    .row.\32 00\25 {
        margin: -60px 0 -1px -60px;
    }

    .row.uniform.\32 00\25 > * {
        padding: 60px 0 0 60px;
    }

    .row.uniform.\32 00\25 {
        margin: -60px 0 -1px -60px;
    }

    .row.\31 50\25 > * {
        padding: 45px 0 0 45px;
    }

    .row.\31 50\25 {
        margin: -45px 0 -1px -45px;
    }

    .row.uniform.\31 50\25 > * {
        padding: 45px 0 0 45px;
    }

    .row.uniform.\31 50\25 {
        margin: -45px 0 -1px -45px;
    }

    .row.\35 0\25 > * {
        padding: 15px 0 0 15px;
    }

    .row.\35 0\25 {
        margin: -15px 0 -1px -15px;
    }

    .row.uniform.\35 0\25 > * {
        padding: 15px 0 0 15px;
    }

    .row.uniform.\35 0\25 {
        margin: -15px 0 -1px -15px;
    }

    .row.\32 5\25 > * {
        padding: 7.5px 0 0 7.5px;
    }

    .row.\32 5\25 {
        margin: -7.5px 0 -1px -7.5px;
    }

    .row.uniform.\32 5\25 > * {
        padding: 7.5px 0 0 7.5px;
    }

    .row.uniform.\32 5\25 {
        margin: -7.5px 0 -1px -7.5px;
    }

    .\31 2u, .\31 2u\24 {
        width: 100%;
        clear: none;
        margin-left: 0;
    }

    .\31 1u, .\31 1u\24 {
        width: 91.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\31 0u, .\31 0u\24 {
        width: 83.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\39 u, .\39 u\24 {
        width: 75%;
        clear: none;
        margin-left: 0;
    }

    .\38 u, .\38 u\24 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\37 u, .\37 u\24 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\36 u, .\36 u\24 {
        width: 50%;
        clear: none;
        margin-left: 0;
    }

    .\35 u, .\35 u\24 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\34 u, .\34 u\24 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\33 u, .\33 u\24 {
        width: 25%;
        clear: none;
        margin-left: 0;
    }

    .\32 u, .\32 u\24 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\31 u, .\31 u\24 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\31 2u\24 + *,
    .\31 1u\24 + *,
    .\31 0u\24 + *,
    .\39 u\24 + *,
    .\38 u\24 + *,
    .\37 u\24 + *,
    .\36 u\24 + *,
    .\35 u\24 + *,
    .\34 u\24 + *,
    .\33 u\24 + *,
    .\32 u\24 + *,
    .\31 u\24 + * {
        clear: left;
    }

    .\-11u {
        margin-left: 91.66667%;
    }

    .\-10u {
        margin-left: 83.33333%;
    }

    .\-9u {
        margin-left: 75%;
    }

    .\-8u {
        margin-left: 66.66667%;
    }

    .\-7u {
        margin-left: 58.33333%;
    }

    .\-6u {
        margin-left: 50%;
    }

    .\-5u {
        margin-left: 41.66667%;
    }

    .\-4u {
        margin-left: 33.33333%;
    }

    .\-3u {
        margin-left: 25%;
    }

    .\-2u {
        margin-left: 16.66667%;
    }

    .\-1u {
        margin-left: 8.33333%;
    }

    @media screen and (max-width: 1680px) {

        .row > * {
            padding: 30px 0 0 30px;
        }

        .row {
            margin: -30px 0 -1px -30px;
        }

        .row.uniform > * {
            padding: 30px 0 0 30px;
        }

        .row.uniform {
            margin: -30px 0 -1px -30px;
        }

        .row.\32 00\25 > * {
            padding: 60px 0 0 60px;
        }

        .row.\32 00\25 {
            margin: -60px 0 -1px -60px;
        }

        .row.uniform.\32 00\25 > * {
            padding: 60px 0 0 60px;
        }

        .row.uniform.\32 00\25 {
            margin: -60px 0 -1px -60px;
        }

        .row.\31 50\25 > * {
            padding: 45px 0 0 45px;
        }

        .row.\31 50\25 {
            margin: -45px 0 -1px -45px;
        }

        .row.uniform.\31 50\25 > * {
            padding: 45px 0 0 45px;
        }

        .row.uniform.\31 50\25 {
            margin: -45px 0 -1px -45px;
        }

        .row.\35 0\25 > * {
            padding: 15px 0 0 15px;
        }

        .row.\35 0\25 {
            margin: -15px 0 -1px -15px;
        }

        .row.uniform.\35 0\25 > * {
            padding: 15px 0 0 15px;
        }

        .row.uniform.\35 0\25 {
            margin: -15px 0 -1px -15px;
        }

        .row.\32 5\25 > * {
            padding: 7.5px 0 0 7.5px;
        }

        .row.\32 5\25 {
            margin: -7.5px 0 -1px -7.5px;
        }

        .row.uniform.\32 5\25 > * {
            padding: 7.5px 0 0 7.5px;
        }

        .row.uniform.\32 5\25 {
            margin: -7.5px 0 -1px -7.5px;
        }

        .\31 2u\28wide\29, .\31 2u\24\28wide\29 {
            width: 100%;
            clear: none;
            margin-left: 0;
        }

        .\31 1u\28wide\29, .\31 1u\24\28wide\29 {
            width: 91.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 0u\28wide\29, .\31 0u\24\28wide\29 {
            width: 83.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\39 u\28wide\29, .\39 u\24\28wide\29 {
            width: 75%;
            clear: none;
            margin-left: 0;
        }

        .\38 u\28wide\29, .\38 u\24\28wide\29 {
            width: 66.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\37 u\28wide\29, .\37 u\24\28wide\29 {
            width: 58.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\36 u\28wide\29, .\36 u\24\28wide\29 {
            width: 50%;
            clear: none;
            margin-left: 0;
        }

        .\35 u\28wide\29, .\35 u\24\28wide\29 {
            width: 41.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\34 u\28wide\29, .\34 u\24\28wide\29 {
            width: 33.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\33 u\28wide\29, .\33 u\24\28wide\29 {
            width: 25%;
            clear: none;
            margin-left: 0;
        }

        .\32 u\28wide\29, .\32 u\24\28wide\29 {
            width: 16.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 u\28wide\29, .\31 u\24\28wide\29 {
            width: 8.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\31 2u\24\28wide\29 + *,
        .\31 1u\24\28wide\29 + *,
        .\31 0u\24\28wide\29 + *,
        .\39 u\24\28wide\29 + *,
        .\38 u\24\28wide\29 + *,
        .\37 u\24\28wide\29 + *,
        .\36 u\24\28wide\29 + *,
        .\35 u\24\28wide\29 + *,
        .\34 u\24\28wide\29 + *,
        .\33 u\24\28wide\29 + *,
        .\32 u\24\28wide\29 + *,
        .\31 u\24\28wide\29 + * {
            clear: left;
        }

        .\-11u\28wide\29 {
            margin-left: 91.66667%;
        }

        .\-10u\28wide\29 {
            margin-left: 83.33333%;
        }

        .\-9u\28wide\29 {
            margin-left: 75%;
        }

        .\-8u\28wide\29 {
            margin-left: 66.66667%;
        }

        .\-7u\28wide\29 {
            margin-left: 58.33333%;
        }

        .\-6u\28wide\29 {
            margin-left: 50%;
        }

        .\-5u\28wide\29 {
            margin-left: 41.66667%;
        }

        .\-4u\28wide\29 {
            margin-left: 33.33333%;
        }

        .\-3u\28wide\29 {
            margin-left: 25%;
        }

        .\-2u\28wide\29 {
            margin-left: 16.66667%;
        }

        .\-1u\28wide\29 {
            margin-left: 8.33333%;
        }

    }

    @media screen and (max-width: 1280px) {

        .row > * {
            padding: 30px 0 0 30px;
        }

        .row {
            margin: -30px 0 -1px -30px;
        }

        .row.uniform > * {
            padding: 30px 0 0 30px;
        }

        .row.uniform {
            margin: -30px 0 -1px -30px;
        }

        .row.\32 00\25 > * {
            padding: 60px 0 0 60px;
        }

        .row.\32 00\25 {
            margin: -60px 0 -1px -60px;
        }

        .row.uniform.\32 00\25 > * {
            padding: 60px 0 0 60px;
        }

        .row.uniform.\32 00\25 {
            margin: -60px 0 -1px -60px;
        }

        .row.\31 50\25 > * {
            padding: 45px 0 0 45px;
        }

        .row.\31 50\25 {
            margin: -45px 0 -1px -45px;
        }

        .row.uniform.\31 50\25 > * {
            padding: 45px 0 0 45px;
        }

        .row.uniform.\31 50\25 {
            margin: -45px 0 -1px -45px;
        }

        .row.\35 0\25 > * {
            padding: 15px 0 0 15px;
        }

        .row.\35 0\25 {
            margin: -15px 0 -1px -15px;
        }

        .row.uniform.\35 0\25 > * {
            padding: 15px 0 0 15px;
        }

        .row.uniform.\35 0\25 {
            margin: -15px 0 -1px -15px;
        }

        .row.\32 5\25 > * {
            padding: 7.5px 0 0 7.5px;
        }

        .row.\32 5\25 {
            margin: -7.5px 0 -1px -7.5px;
        }

        .row.uniform.\32 5\25 > * {
            padding: 7.5px 0 0 7.5px;
        }

        .row.uniform.\32 5\25 {
            margin: -7.5px 0 -1px -7.5px;
        }

        .\31 2u\28normal\29, .\31 2u\24\28normal\29 {
            width: 100%;
            clear: none;
            margin-left: 0;
        }

        .\31 1u\28normal\29, .\31 1u\24\28normal\29 {
            width: 91.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 0u\28normal\29, .\31 0u\24\28normal\29 {
            width: 83.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\39 u\28normal\29, .\39 u\24\28normal\29 {
            width: 75%;
            clear: none;
            margin-left: 0;
        }

        .\38 u\28normal\29, .\38 u\24\28normal\29 {
            width: 66.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\37 u\28normal\29, .\37 u\24\28normal\29 {
            width: 58.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\36 u\28normal\29, .\36 u\24\28normal\29 {
            width: 50%;
            clear: none;
            margin-left: 0;
        }

        .\35 u\28normal\29, .\35 u\24\28normal\29 {
            width: 41.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\34 u\28normal\29, .\34 u\24\28normal\29 {
            width: 33.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\33 u\28normal\29, .\33 u\24\28normal\29 {
            width: 25%;
            clear: none;
            margin-left: 0;
        }

        .\32 u\28normal\29, .\32 u\24\28normal\29 {
            width: 16.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 u\28normal\29, .\31 u\24\28normal\29 {
            width: 8.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\31 2u\24\28normal\29 + *,
        .\31 1u\24\28normal\29 + *,
        .\31 0u\24\28normal\29 + *,
        .\39 u\24\28normal\29 + *,
        .\38 u\24\28normal\29 + *,
        .\37 u\24\28normal\29 + *,
        .\36 u\24\28normal\29 + *,
        .\35 u\24\28normal\29 + *,
        .\34 u\24\28normal\29 + *,
        .\33 u\24\28normal\29 + *,
        .\32 u\24\28normal\29 + *,
        .\31 u\24\28normal\29 + * {
            clear: left;
        }

        .\-11u\28normal\29 {
            margin-left: 91.66667%;
        }

        .\-10u\28normal\29 {
            margin-left: 83.33333%;
        }

        .\-9u\28normal\29 {
            margin-left: 75%;
        }

        .\-8u\28normal\29 {
            margin-left: 66.66667%;
        }

        .\-7u\28normal\29 {
            margin-left: 58.33333%;
        }

        .\-6u\28normal\29 {
            margin-left: 50%;
        }

        .\-5u\28normal\29 {
            margin-left: 41.66667%;
        }

        .\-4u\28normal\29 {
            margin-left: 33.33333%;
        }

        .\-3u\28normal\29 {
            margin-left: 25%;
        }

        .\-2u\28normal\29 {
            margin-left: 16.66667%;
        }

        .\-1u\28normal\29 {
            margin-left: 8.33333%;
        }

    }

    @media screen and (max-width: 980px) {

        .row > * {
            padding: 30px 0 0 30px;
        }

        .row {
            margin: -30px 0 -1px -30px;
        }

        .row.uniform > * {
            padding: 30px 0 0 30px;
        }

        .row.uniform {
            margin: -30px 0 -1px -30px;
        }

        .row.\32 00\25 > * {
            padding: 60px 0 0 60px;
        }

        .row.\32 00\25 {
            margin: -60px 0 -1px -60px;
        }

        .row.uniform.\32 00\25 > * {
            padding: 60px 0 0 60px;
        }

        .row.uniform.\32 00\25 {
            margin: -60px 0 -1px -60px;
        }

        .row.\31 50\25 > * {
            padding: 45px 0 0 45px;
        }

        .row.\31 50\25 {
            margin: -45px 0 -1px -45px;
        }

        .row.uniform.\31 50\25 > * {
            padding: 45px 0 0 45px;
        }

        .row.uniform.\31 50\25 {
            margin: -45px 0 -1px -45px;
        }

        .row.\35 0\25 > * {
            padding: 15px 0 0 15px;
        }

        .row.\35 0\25 {
            margin: -15px 0 -1px -15px;
        }

        .row.uniform.\35 0\25 > * {
            padding: 15px 0 0 15px;
        }

        .row.uniform.\35 0\25 {
            margin: -15px 0 -1px -15px;
        }

        .row.\32 5\25 > * {
            padding: 7.5px 0 0 7.5px;
        }

        .row.\32 5\25 {
            margin: -7.5px 0 -1px -7.5px;
        }

        .row.uniform.\32 5\25 > * {
            padding: 7.5px 0 0 7.5px;
        }

        .row.uniform.\32 5\25 {
            margin: -7.5px 0 -1px -7.5px;
        }

        .\31 2u\28narrow\29, .\31 2u\24\28narrow\29 {
            width: 100%;
            clear: none;
            margin-left: 0;
        }

        .\31 1u\28narrow\29, .\31 1u\24\28narrow\29 {
            width: 91.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 0u\28narrow\29, .\31 0u\24\28narrow\29 {
            width: 83.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\39 u\28narrow\29, .\39 u\24\28narrow\29 {
            width: 75%;
            clear: none;
            margin-left: 0;
        }

        .\38 u\28narrow\29, .\38 u\24\28narrow\29 {
            width: 66.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\37 u\28narrow\29, .\37 u\24\28narrow\29 {
            width: 58.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\36 u\28narrow\29, .\36 u\24\28narrow\29 {
            width: 50%;
            clear: none;
            margin-left: 0;
        }

        .\35 u\28narrow\29, .\35 u\24\28narrow\29 {
            width: 41.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\34 u\28narrow\29, .\34 u\24\28narrow\29 {
            width: 33.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\33 u\28narrow\29, .\33 u\24\28narrow\29 {
            width: 25%;
            clear: none;
            margin-left: 0;
        }

        .\32 u\28narrow\29, .\32 u\24\28narrow\29 {
            width: 16.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 u\28narrow\29, .\31 u\24\28narrow\29 {
            width: 8.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\31 2u\24\28narrow\29 + *,
        .\31 1u\24\28narrow\29 + *,
        .\31 0u\24\28narrow\29 + *,
        .\39 u\24\28narrow\29 + *,
        .\38 u\24\28narrow\29 + *,
        .\37 u\24\28narrow\29 + *,
        .\36 u\24\28narrow\29 + *,
        .\35 u\24\28narrow\29 + *,
        .\34 u\24\28narrow\29 + *,
        .\33 u\24\28narrow\29 + *,
        .\32 u\24\28narrow\29 + *,
        .\31 u\24\28narrow\29 + * {
            clear: left;
        }

        .\-11u\28narrow\29 {
            margin-left: 91.66667%;
        }

        .\-10u\28narrow\29 {
            margin-left: 83.33333%;
        }

        .\-9u\28narrow\29 {
            margin-left: 75%;
        }

        .\-8u\28narrow\29 {
            margin-left: 66.66667%;
        }

        .\-7u\28narrow\29 {
            margin-left: 58.33333%;
        }

        .\-6u\28narrow\29 {
            margin-left: 50%;
        }

        .\-5u\28narrow\29 {
            margin-left: 41.66667%;
        }

        .\-4u\28narrow\29 {
            margin-left: 33.33333%;
        }

        .\-3u\28narrow\29 {
            margin-left: 25%;
        }

        .\-2u\28narrow\29 {
            margin-left: 16.66667%;
        }

        .\-1u\28narrow\29 {
            margin-left: 8.33333%;
        }

    }

    @media screen and (max-width: 840px) {

        .row > * {
            padding: 20px 0 0 20px;
        }

        .row {
            margin: -20px 0 -1px -20px;
        }

        .row.uniform > * {
            padding: 20px 0 0 20px;
        }

        .row.uniform {
            margin: -20px 0 -1px -20px;
        }

        .row.\32 00\25 > * {
            padding: 40px 0 0 40px;
        }

        .row.\32 00\25 {
            margin: -40px 0 -1px -40px;
        }

        .row.uniform.\32 00\25 > * {
            padding: 40px 0 0 40px;
        }

        .row.uniform.\32 00\25 {
            margin: -40px 0 -1px -40px;
        }

        .row.\31 50\25 > * {
            padding: 30px 0 0 30px;
        }

        .row.\31 50\25 {
            margin: -30px 0 -1px -30px;
        }

        .row.uniform.\31 50\25 > * {
            padding: 30px 0 0 30px;
        }

        .row.uniform.\31 50\25 {
            margin: -30px 0 -1px -30px;
        }

        .row.\35 0\25 > * {
            padding: 10px 0 0 10px;
        }

        .row.\35 0\25 {
            margin: -10px 0 -1px -10px;
        }

        .row.uniform.\35 0\25 > * {
            padding: 10px 0 0 10px;
        }

        .row.uniform.\35 0\25 {
            margin: -10px 0 -1px -10px;
        }

        .row.\32 5\25 > * {
            padding: 5px 0 0 5px;
        }

        .row.\32 5\25 {
            margin: -5px 0 -1px -5px;
        }

        .row.uniform.\32 5\25 > * {
            padding: 5px 0 0 5px;
        }

        .row.uniform.\32 5\25 {
            margin: -5px 0 -1px -5px;
        }

        .\31 2u\28narrower\29, .\31 2u\24\28narrower\29 {
            width: 100%;
            clear: none;
            margin-left: 0;
        }

        .\31 1u\28narrower\29, .\31 1u\24\28narrower\29 {
            width: 91.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 0u\28narrower\29, .\31 0u\24\28narrower\29 {
            width: 83.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\39 u\28narrower\29, .\39 u\24\28narrower\29 {
            width: 75%;
            clear: none;
            margin-left: 0;
        }

        .\38 u\28narrower\29, .\38 u\24\28narrower\29 {
            width: 66.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\37 u\28narrower\29, .\37 u\24\28narrower\29 {
            width: 58.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\36 u\28narrower\29, .\36 u\24\28narrower\29 {
            width: 50%;
            clear: none;
            margin-left: 0;
        }

        .\35 u\28narrower\29, .\35 u\24\28narrower\29 {
            width: 41.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\34 u\28narrower\29, .\34 u\24\28narrower\29 {
            width: 33.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\33 u\28narrower\29, .\33 u\24\28narrower\29 {
            width: 25%;
            clear: none;
            margin-left: 0;
        }

        .\32 u\28narrower\29, .\32 u\24\28narrower\29 {
            width: 16.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 u\28narrower\29, .\31 u\24\28narrower\29 {
            width: 8.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\31 2u\24\28narrower\29 + *,
        .\31 1u\24\28narrower\29 + *,
        .\31 0u\24\28narrower\29 + *,
        .\39 u\24\28narrower\29 + *,
        .\38 u\24\28narrower\29 + *,
        .\37 u\24\28narrower\29 + *,
        .\36 u\24\28narrower\29 + *,
        .\35 u\24\28narrower\29 + *,
        .\34 u\24\28narrower\29 + *,
        .\33 u\24\28narrower\29 + *,
        .\32 u\24\28narrower\29 + *,
        .\31 u\24\28narrower\29 + * {
            clear: left;
        }

        .\-11u\28narrower\29 {
            margin-left: 91.66667%;
        }

        .\-10u\28narrower\29 {
            margin-left: 83.33333%;
        }

        .\-9u\28narrower\29 {
            margin-left: 75%;
        }

        .\-8u\28narrower\29 {
            margin-left: 66.66667%;
        }

        .\-7u\28narrower\29 {
            margin-left: 58.33333%;
        }

        .\-6u\28narrower\29 {
            margin-left: 50%;
        }

        .\-5u\28narrower\29 {
            margin-left: 41.66667%;
        }

        .\-4u\28narrower\29 {
            margin-left: 33.33333%;
        }

        .\-3u\28narrower\29 {
            margin-left: 25%;
        }

        .\-2u\28narrower\29 {
            margin-left: 16.66667%;
        }

        .\-1u\28narrower\29 {
            margin-left: 8.33333%;
        }

    }

    @media screen and (max-width: 736px) {

        .row > * {
            padding: 20px 0 0 20px;
        }

        .row {
            margin: -20px 0 -1px -20px;
        }

        .row.uniform > * {
            padding: 20px 0 0 20px;
        }

        .row.uniform {
            margin: -20px 0 -1px -20px;
        }

        .row.\32 00\25 > * {
            padding: 40px 0 0 40px;
        }

        .row.\32 00\25 {
            margin: -40px 0 -1px -40px;
        }

        .row.uniform.\32 00\25 > * {
            padding: 40px 0 0 40px;
        }

        .row.uniform.\32 00\25 {
            margin: -40px 0 -1px -40px;
        }

        .row.\31 50\25 > * {
            padding: 30px 0 0 30px;
        }

        .row.\31 50\25 {
            margin: -30px 0 -1px -30px;
        }

        .row.uniform.\31 50\25 > * {
            padding: 30px 0 0 30px;
        }

        .row.uniform.\31 50\25 {
            margin: -30px 0 -1px -30px;
        }

        .row.\35 0\25 > * {
            padding: 10px 0 0 10px;
        }

        .row.\35 0\25 {
            margin: -10px 0 -1px -10px;
        }

        .row.uniform.\35 0\25 > * {
            padding: 10px 0 0 10px;
        }

        .row.uniform.\35 0\25 {
            margin: -10px 0 -1px -10px;
        }

        .row.\32 5\25 > * {
            padding: 5px 0 0 5px;
        }

        .row.\32 5\25 {
            margin: -5px 0 -1px -5px;
        }

        .row.uniform.\32 5\25 > * {
            padding: 5px 0 0 5px;
        }

        .row.uniform.\32 5\25 {
            margin: -5px 0 -1px -5px;
        }

        .\31 2u\28mobile\29, .\31 2u\24\28mobile\29 {
            width: 100%;
            clear: none;
            margin-left: 0;
        }

        .\31 1u\28mobile\29, .\31 1u\24\28mobile\29 {
            width: 91.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 0u\28mobile\29, .\31 0u\24\28mobile\29 {
            width: 83.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\39 u\28mobile\29, .\39 u\24\28mobile\29 {
            width: 75%;
            clear: none;
            margin-left: 0;
        }

        .\38 u\28mobile\29, .\38 u\24\28mobile\29 {
            width: 66.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\37 u\28mobile\29, .\37 u\24\28mobile\29 {
            width: 58.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\36 u\28mobile\29, .\36 u\24\28mobile\29 {
            width: 50%;
            clear: none;
            margin-left: 0;
        }

        .\35 u\28mobile\29, .\35 u\24\28mobile\29 {
            width: 41.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\34 u\28mobile\29, .\34 u\24\28mobile\29 {
            width: 33.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\33 u\28mobile\29, .\33 u\24\28mobile\29 {
            width: 25%;
            clear: none;
            margin-left: 0;
        }

        .\32 u\28mobile\29, .\32 u\24\28mobile\29 {
            width: 16.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 u\28mobile\29, .\31 u\24\28mobile\29 {
            width: 8.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\31 2u\24\28mobile\29 + *,
        .\31 1u\24\28mobile\29 + *,
        .\31 0u\24\28mobile\29 + *,
        .\39 u\24\28mobile\29 + *,
        .\38 u\24\28mobile\29 + *,
        .\37 u\24\28mobile\29 + *,
        .\36 u\24\28mobile\29 + *,
        .\35 u\24\28mobile\29 + *,
        .\34 u\24\28mobile\29 + *,
        .\33 u\24\28mobile\29 + *,
        .\32 u\24\28mobile\29 + *,
        .\31 u\24\28mobile\29 + * {
            clear: left;
        }

        .\-11u\28mobile\29 {
            margin-left: 91.66667%;
        }

        .\-10u\28mobile\29 {
            margin-left: 83.33333%;
        }

        .\-9u\28mobile\29 {
            margin-left: 75%;
        }

        .\-8u\28mobile\29 {
            margin-left: 66.66667%;
        }

        .\-7u\28mobile\29 {
            margin-left: 58.33333%;
        }

        .\-6u\28mobile\29 {
            margin-left: 50%;
        }

        .\-5u\28mobile\29 {
            margin-left: 41.66667%;
        }

        .\-4u\28mobile\29 {
            margin-left: 33.33333%;
        }

        .\-3u\28mobile\29 {
            margin-left: 25%;
        }

        .\-2u\28mobile\29 {
            margin-left: 16.66667%;
        }

        .\-1u\28mobile\29 {
            margin-left: 8.33333%;
        }

    }

    @media screen and (max-width: 480px) {

        .row > * {
            padding: 20px 0 0 20px;
        }

        .row {
            margin: -20px 0 -1px -20px;
        }

        .row.uniform > * {
            padding: 20px 0 0 20px;
        }

        .row.uniform {
            margin: -20px 0 -1px -20px;
        }

        .row.\32 00\25 > * {
            padding: 40px 0 0 40px;
        }

        .row.\32 00\25 {
            margin: -40px 0 -1px -40px;
        }

        .row.uniform.\32 00\25 > * {
            padding: 40px 0 0 40px;
        }

        .row.uniform.\32 00\25 {
            margin: -40px 0 -1px -40px;
        }

        .row.\31 50\25 > * {
            padding: 30px 0 0 30px;
        }

        .row.\31 50\25 {
            margin: -30px 0 -1px -30px;
        }

        .row.uniform.\31 50\25 > * {
            padding: 30px 0 0 30px;
        }

        .row.uniform.\31 50\25 {
            margin: -30px 0 -1px -30px;
        }

        .row.\35 0\25 > * {
            padding: 10px 0 0 10px;
        }

        .row.\35 0\25 {
            margin: -10px 0 -1px -10px;
        }

        .row.uniform.\35 0\25 > * {
            padding: 10px 0 0 10px;
        }

        .row.uniform.\35 0\25 {
            margin: -10px 0 -1px -10px;
        }

        .row.\32 5\25 > * {
            padding: 5px 0 0 5px;
        }

        .row.\32 5\25 {
            margin: -5px 0 -1px -5px;
        }

        .row.uniform.\32 5\25 > * {
            padding: 5px 0 0 5px;
        }

        .row.uniform.\32 5\25 {
            margin: -5px 0 -1px -5px;
        }

        .\31 2u\28mobilep\29, .\31 2u\24\28mobilep\29 {
            width: 100%;
            clear: none;
            margin-left: 0;
        }

        .\31 1u\28mobilep\29, .\31 1u\24\28mobilep\29 {
            width: 91.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 0u\28mobilep\29, .\31 0u\24\28mobilep\29 {
            width: 83.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\39 u\28mobilep\29, .\39 u\24\28mobilep\29 {
            width: 75%;
            clear: none;
            margin-left: 0;
        }

        .\38 u\28mobilep\29, .\38 u\24\28mobilep\29 {
            width: 66.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\37 u\28mobilep\29, .\37 u\24\28mobilep\29 {
            width: 58.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\36 u\28mobilep\29, .\36 u\24\28mobilep\29 {
            width: 50%;
            clear: none;
            margin-left: 0;
        }

        .\35 u\28mobilep\29, .\35 u\24\28mobilep\29 {
            width: 41.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\34 u\28mobilep\29, .\34 u\24\28mobilep\29 {
            width: 33.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\33 u\28mobilep\29, .\33 u\24\28mobilep\29 {
            width: 25%;
            clear: none;
            margin-left: 0;
        }

        .\32 u\28mobilep\29, .\32 u\24\28mobilep\29 {
            width: 16.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 u\28mobilep\29, .\31 u\24\28mobilep\29 {
            width: 8.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\31 2u\24\28mobilep\29 + *,
        .\31 1u\24\28mobilep\29 + *,
        .\31 0u\24\28mobilep\29 + *,
        .\39 u\24\28mobilep\29 + *,
        .\38 u\24\28mobilep\29 + *,
        .\37 u\24\28mobilep\29 + *,
        .\36 u\24\28mobilep\29 + *,
        .\35 u\24\28mobilep\29 + *,
        .\34 u\24\28mobilep\29 + *,
        .\33 u\24\28mobilep\29 + *,
        .\32 u\24\28mobilep\29 + *,
        .\31 u\24\28mobilep\29 + * {
            clear: left;
        }

        .\-11u\28mobilep\29 {
            margin-left: 91.66667%;
        }

        .\-10u\28mobilep\29 {
            margin-left: 83.33333%;
        }

        .\-9u\28mobilep\29 {
            margin-left: 75%;
        }

        .\-8u\28mobilep\29 {
            margin-left: 66.66667%;
        }

        .\-7u\28mobilep\29 {
            margin-left: 58.33333%;
        }

        .\-6u\28mobilep\29 {
            margin-left: 50%;
        }

        .\-5u\28mobilep\29 {
            margin-left: 41.66667%;
        }

        .\-4u\28mobilep\29 {
            margin-left: 33.33333%;
        }

        .\-3u\28mobilep\29 {
            margin-left: 25%;
        }

        .\-2u\28mobilep\29 {
            margin-left: 16.66667%;
        }

        .\-1u\28mobilep\29 {
            margin-left: 8.33333%;
        }

    }

/* Basic */

    html, body {
        height: 100%;
    }

    body {
        background: #ffffff;
    }

        body.is-loading * {
            -moz-transition: none !important;
            -webkit-transition: none !important;
            -ms-transition: none !important;
            transition: none !important;
            -moz-animation: none !important;
            -webkit-animation: none !important;
            -ms-animation: none !important;
            animation: none !important;
        }

    body, input, select, textarea {
        color: #6e6e6e;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16pt;
        font-weight: 400;
        line-height: 1.75em;
    }

    a {
        -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
        border-bottom: dotted 1px;
        color: #7f7f7f;
        text-decoration: none;
    }

        a:hover {
            border-bottom-color: transparent;
        }

    strong, b {
        font-weight: 600;
        color: #5b5b5b;
    }

    em, i {
        font-style: italic;
    }

    p, ul, ol, dl, table, blockquote, form {
        margin: 0 0 2em 0;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #5b5b5b;
        font-weight: 700;
        letter-spacing: 0.125em;
        line-height: 1.75em;
        margin-bottom: 1em;
        text-transform: uppercase;
        text-align: center;
    }

        h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
            color: inherit;
            text-decoration: none;
        }

    h2 {
        font-size: 1.75em;
    }

    h3 {
        font-size: 1.5em;
    }

    sub {
        font-size: 0.8em;
        position: relative;
        top: 0.5em;
    }

    sup {
        font-size: 0.8em;
        position: relative;
        top: -0.5em;
    }

    hr {
        border: 0;
        border-top: solid 1px rgba(224, 224, 224, 0.75);
        margin-bottom: 1.5em;
    }

    blockquote {
        border-left: solid 0.5em rgba(224, 224, 224, 0.75);
        font-style: italic;
        padding: 1em 0 1em 2em;
    }

/* Section/Article */

    section.special, article.special {
        text-align: center;
    }

    header {
        text-align: center;
    }

        header p {
            position: relative;
            top: -1em;
            color: #888888;
            text-transform: uppercase;
            letter-spacing: 0.075em;
        }

        header.major {
            border-bottom-width: 1px;
            border-color: rgba(224, 224, 224, 0.75);
            border-style: solid;
            border-top-width: 1px;
            margin-bottom: 6em;
            padding: 4em 0;
            position: relative;
        }

            header.major:before, header.major:after {
                background: rgba(224, 224, 224, 0.75);
                content: '';
                display: block;
                height: 1px;
                left: 0;
                position: absolute;
                width: 100%;
            }

            header.major:before {
                top: 5px;
            }

            header.major:after {
                bottom: 10px;
            }

            header.major h2 {
    margin: 0;
    font-size: 1.27em;
            }

            header.major p {
                top: 0;
                margin: 1.5em 0 0 0;
                padding: 1.5em 1.5em 0 1.5em;
                font-size: 1.5em;
                line-height: 1.75em;
                border-top: solid 1px rgba(224, 224, 224, 0.75);
                display: inline-block;
            }

            header.major.last {
                border-bottom: 0;
                margin-bottom: 0;
                padding-bottom: 0;
            }

                header.major.last:after {
                    display: none;
                }

                header.major.last h2 {
                    margin-bottom: 1em;
                }

    footer {
        text-align: center;
    }

        footer.major {
            border-bottom-width: 1px;
            border-color: rgba(224, 224, 224, 0.75);
            border-style: solid;
            border-top-width: 1px;
            margin-top: 6em;
            padding: 4em 0;
            position: relative;
        }

            footer.major:before, footer.major:after {
                background: rgba(224, 224, 224, 0.75);
                content: '';
                display: block;
                height: 1px;
                left: 0;
                position: absolute;
                width: 100%;
            }

            footer.major:before {
                top: 10px;
            }

            footer.major:after {
                bottom: 10px;
            }

/* Form */

    label {
        display: block;
        color: #5b5b5b;
        font-size: 0.8em;
        font-weight: 700;
        letter-spacing: 0.125em;
        line-height: 1.75em;
        text-transform: uppercase;
        margin: 0 0 0.5em 0;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    select,
    textarea {
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        -moz-transition: background-color 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out;
        background: none;
        border-radius: 4px;
        border: 0;
        border: solid 1px rgba(224, 224, 224, 0.75);
        color: inherit;
        display: block;
        outline: 0;
        padding: 0.75em;
        text-decoration: none;
        width: 100%;
        opacity: 1;
    }

        input[type="text"]:focus,
        input[type="password"]:focus,
        input[type="email"]:focus,
        select:focus,
        textarea:focus {
            background: rgba(224, 224, 224, 0.15);
            border-color: #4eb980;
        }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    select {
        line-height: 1em;
    }

    textarea {
        padding: 0.5em 0.75em;
    }

    ::-webkit-input-placeholder {
        color: inherit;
        opacity: 0.5;
        position: relative;
        top: 3px;
    }

    :-moz-placeholder {
        color: inherit;
        opacity: 0.5;
    }

    ::-moz-placeholder {
        color: inherit;
        opacity: 0.5;
    }

    :-ms-input-placeholder {
        color: inherit;
        opacity: 0.5;
    }

    .formerize-placeholder {
        color: rgba(110, 110, 110, 0.5) !important;
    }

/* Image */

    .image {
        border: 0;
        display: inline-block;
        position: relative;
    }

        .image:after {
            -moz-transition: opacity 0.25s ease-in-out;
            -webkit-transition: opacity 0.25s ease-in-out;
            -ms-transition: opacity 0.25s ease-in-out;
            transition: opacity 0.25s ease-in-out;
            background-image: url("images/overlay.png");
            content: '';
            display: block;
            height: 100%;
            left: 0;
            opacity: 0.2;
            position: absolute;
            top: 0;
            width: 100%;
        }

        .image img {
            display: block;
        }

        .image.fit {
            display: block;
        }

            .image.fit img {
                display: block;
                width: 100%;
            }

        .image.feature {
            display: block;
            margin: 0 0 2em 0;
        }

            .image.feature img {
                display: block;
                width: 100%;
            }

        .image.icon {
            -moz-perspective: 500px;
            -webkit-perspective: 500px;
            -ms-perspective: 500px;
            perspective: 500px;
        }

            .image.icon:before {
                -moz-transition: -moz-transform 0.1s ease-in-out, font-size 0.1s ease-in-out;
                -webkit-transition: -webkit-transform 0.1s ease-in-out, font-size 0.1s ease-in-out;
                -ms-transition: -ms-transform 0.1s ease-in-out, font-size 0.1s ease-in-out;
                transition: transform 0.1s ease-in-out, font-size 0.1s ease-in-out;
                color: #fff;
                font-size: 6em;
                height: 1em;
                left: 50%;
                line-height: 1em;
                margin: -0.5em 0 0 -0.5em;
                position: absolute;
                text-align: center;
                top: 50%;
                width: 1em;
                z-index: 1;
            }

            .image.icon:hover:before {
                -moz-transform: translateZ(1em);
                -webkit-transform: translateZ(1em);
                -ms-transform: translateZ(1em);
                transform: translateZ(1em);
            }

            .image.icon:hover:after {
                opacity: 1;
            }

    span.image.icon {
        cursor: default;
    }

/* Icon */

    .icon {
        text-decoration: none;
        border-bottom: none;
        position: relative;
    }

        .icon:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-transform: none !important;
        }

        .icon > .label {
            display: none;
        }

/* List */

    ol.default {
        list-style: decimal;
        padding-left: 1.25em;
    }

        ol.default li {
            padding-left: 0.25em;
        }

    ul.default {
        list-style: disc;
        padding-left: 1em;
    }

        ul.default li {
            padding-left: 0.5em;
        }

    ul.icons {
        cursor: default;
    }

        ul.icons li {
            display: inline-block;
            font-size: 1.25em;
            line-height: 1em;
            padding-left: 0.5em;
        }

            ul.icons li:first-child {
                padding-left: 0;
            }

            ul.icons li a, ul.icons li span {
                -moz-transition: background-color 0.2s ease-in-out;
                -webkit-transition: background-color 0.2s ease-in-out;
                -ms-transition: background-color 0.2s ease-in-out;
                transition: background-color 0.2s ease-in-out;
                border-radius: 100%;
                border: solid 1px rgba(224, 224, 224, 0.75);
                display: inline-block;
                height: 2em;
                line-height: 2em;
                text-align: center;
                width: 2em;
            }

                ul.icons li a:hover, ul.icons li span:hover {
                    background: rgba(224, 224, 224, 0.15);
                }

    ul.actions {
        cursor: default;
        text-align: center;
    }

        ul.actions:last-child {
            margin-bottom: 0;
        }

        ul.actions li {
            display: inline-block;
            padding: 0 0 0 1.5em;
        }

            ul.actions li:first-child {
                padding: 0;
            }

        ul.actions.vertical li {
            display: block;
            padding: 1.5em 0 0 0;
        }

            ul.actions.vertical li:first-child {
                padding: 0;
            }

/* Table */

    .table-wrapper {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    table {
        width: 100%;
    }

        table.default {
            width: 100%;
        }

            table.default tbody tr {
                border-bottom: solid 1px rgba(224, 224, 224, 0.75);
            }

                table.default tbody tr:nth-child(2n - 1) {
                    background: rgba(224, 224, 224, 0.15);
                }

            table.default td {
                padding: 0.5em 1em 0.5em 1em;
            }

            table.default th {
                color: #5b5b5b;
                font-size: 0.8em;
                font-weight: 700;
                letter-spacing: 0.125em;
                line-height: 1.75em;
                padding: 0.5em 1em 0.5em 1em;
                text-align: left;
                text-transform: uppercase;
            }

            table.default thead {
                border-bottom: solid 1px rgba(224, 224, 224, 0.75);
            }

/* Button */

    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    .button {
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        background: #544d55;
        border-radius: 4px;
        border: 0;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        font-size: 0.9em;
        font-weight: 700;
        letter-spacing: 0.125em;
        line-height: 3.25em;
        min-width: 15em;
        padding: 0 1.5em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }

        input[type="submit"]:hover,
        input[type="reset"]:hover,
        input[type="button"]:hover,
        .button:hover {
            background: #6e6570;
        }

        input[type="submit"]:active,
        input[type="reset"]:active,
        input[type="button"]:active,
        .button:active {
            background: #474148;
        }

        input[type="submit"].alt,
        input[type="reset"].alt,
        input[type="button"].alt,
        .button.alt {
            background: none;
            box-shadow: inset 0 0 0 1px rgba(224, 224, 224, 0.75);
            color: #544d55;
        }

            input[type="submit"].alt:hover,
            input[type="reset"].alt:hover,
            input[type="button"].alt:hover,
            .button.alt:hover {
                background: rgba(224, 224, 224, 0.15);
            }

            input[type="submit"].alt:active,
            input[type="reset"].alt:active,
            input[type="button"].alt:active,
            .button.alt:active {
                background: rgba(224, 224, 224, 0.35);
            }

        input[type="submit"].fit,
        input[type="reset"].fit,
        input[type="button"].fit,
        .button.fit {
            width: 100%;
        }

        input[type="submit"].small,
        input[type="reset"].small,
        input[type="button"].small,
        .button.small {
            font-size: 0.8em;
        }

/* Box */

    .box {
        background: #ffffff;
        border: solid 1px rgba(224, 224, 224, 0.75);
        margin-bottom: 6em;
        padding: 3.5em;
    }

        .box.alt {
            background: none;
            border: none;
            padding: 0;
        }

/* Feature */

    .feature {
        position: relative;
        height: 20em;
    }

        .feature:after {
            clear: both;
            content: '';
            display: block;
        }

        .feature h3, .feature h4, .feature h5, .feature h6 {
            text-align: inherit;
        }

        .feature .image {
            display: inline-block;
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 50%;
        }

            .feature .image img {
                display: block;
                min-height: 100%;
                min-width: 100%;
                position: absolute;
            }

        .feature:before {
            background: blue;
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        .feature .content {
            display: inline-block;
            padding: 3.5em;
            vertical-align: middle;
            width: 48%;
        }

            .feature .content h3 {
                margin-bottom: 0.5em;
            }

            .feature .content :last-child {
                margin: 0;
            }

        .feature.left {
            text-align: left;
        }

            .feature.left .image {
    float: left;
    font-size: 75%;
            }

                .feature.left .image img {
                    right: 0;
                    top: 0;
                }

            .feature.left .content {
                padding-right: 0;
            }

        .feature.right {
            text-align: right;
        }

            .feature.right .image {
    float: right;
    font-size: 75%;
            }

                .feature.right .image img {
                    left: 0;
                    top: 0;
                }

            .feature.right .content {
                padding-left: 0;
            }

        .feature.long .content {
            padding-top: 0;
        }

/* Minor */

    .minor {
        position: relative;
        height: 15em;
    }

/* Header */

    /* Formas */

    #forma{
        position: absolute;
        width: 0px;
        height: 0px;
        line-height: 0px;
        border-left: 20px solid transparent;
        border-top: 10px solid black;
        top: 100%;
        left: 0px;
    }
    #forma2{
        position: absolute;
        width: 0px;
        height: 0px;
        line-height: 0px;
        border-right: 20px solid transparent;
        border-top: 10px solid black;
        top: 100%;
        right: 0px;
    }


    /* End Formas */

    #header {
        -moz-transition: background-color 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out;
        background-color: rgba(77, 77, 77,0.9);
        height: 3.5em;
        left: 0;
        line-height: 3.5em;
        padding: 0 1.25em;
        position: fixed;
        -moz-transition: top 0.2s ease-in-out;
        -webkit-transition: top 0.2s ease-in-out;
        -ms-transition: top 0.2s ease-in-out;
        transition: top 0.2s ease-in-out;
        top: 0;
        width: 100%;
        z-index: 10000;
        color: #ffffff;
    }

        #header h1 {
            display: inline-block;
            -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s;
            -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s;
            -ms-transition: opacity 0.2s ease-in-out, visibility 0.2s;
            transition: opacity 0.2s ease-in-out, visibility 0.2s;
            border-bottom: 0;
            font-size: 2em;
            margin-bottom: 0;
            opacity: 1;
            visibility: visible;
            color: #ffffff;
            font-weight: 700;
            letter-spacing: 0.2em;
            margin: 0;
            text-align: left;
            text-transform: uppercase;
            position: absolute;
            left: 0.7em;
        }

        #header .logo {
            height: 100%;
            width: 3em;
            display: inline-block;
            position: absolute;
            left: calc(50% - 1.25em);
        }

            #header .logo .icono {
                opacity: 1;
                -moz-transition: opacity 0.2s ease-in-out;
                -webkit-transition: opacity 0.2s ease-in-out;
                -ms-transition: opacity 0.2s ease-in-out;
                transition: opacity 0.2s ease-in-out;
                width: 100%;
                position: absolute;
                top: 10%;
                margin:auto;
            }

        #header nav {
            font-family: Raleway, Helvetica, sans-serif;
            font-size: 0.7em;
            font-weight: 700;
            height: 3em;
            letter-spacing: 0.1em;
            line-height: 3em;
            position: absolute;
            right: 0.7em;
            text-transform: uppercase;
            top: 0.7em;
        }

            #header nav a {
                border: 0;
                display: inline-block;
                padding: 0 1em;
                color: #ffffff;
            }

            #header nav .menu {
                display: none;
            }

                #header nav a:before {
                    float: right;
                    margin-left: 0.75em;
                }

                #header nav a[href="#menu"] {
                    text-decoration: none;
                    -moz-transition: background-color 0.2s ease-in-out;
                    -webkit-transition: background-color 0.2s ease-in-out;
                    -ms-transition: background-color 0.2s ease-in-out;
                    transition: background-color 0.2s ease-in-out;
                    border-radius: 5px;
                    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
                    padding: 0 1.35em;
                }

                    #header nav a[href="#menu"]:before {
                        -moz-osx-font-smoothing: grayscale;
                        -webkit-font-smoothing: antialiased;
                        font-family: FontAwesome;
                        font-style: normal;
                        font-weight: normal;
                        text-transform: none !important;
                    }

                    #header nav a[href="#menu"]:before {
                        content: '\f0c9';
                    }

                    #header nav a[href="#menu"]:hover {
                        background-color: rgba(255, 255, 255, 0.025);
                    }

                    #header nav a[href="#menu"]:active {
                        background-color: rgba(255, 255, 255, 0.075);
                    }

        #header.alt {
            background-color: rgba(0, 0, 0, 0);
            -moz-transition: background-color 0.2s ease-in-out;
            -webkit-transition: background-color 0.2s ease-in-out;
            -ms-transition: background-color 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out;
        }

            #header.alt .logo .icono {
                opacity: 0;
                -moz-transition: opacity 0.2s ease-in-out;
                -webkit-transition: opacity 0.2s ease-in-out;
                -ms-transition: opacity 0.2s ease-in-out;
                transition: opacity 0.2s ease-in-out;
            }

        @media screen and (max-width: 736px) {

            #header {
                height: 2.75em;
                line-height: 2.75em;
            }

                #header h1 {
                    font-size: 1em;
                    margin-top:0.5em;
                }

                #header nav {
                    top: 0;
                    right: 0;
                    height: inherit;
                    line-height: inherit;
                }

                    #header nav a {
                        display: none;
                        height: inherit;
                        line-height: inherit;
                    }

                    #header nav .menu {
                        display: inline-block;
                    }

                        #header nav a[href="#menu"] {
                            box-shadow: none;
                            padding: 0 1em;
                            border-radius: 0;
                        }

                            #header nav a[href="#menu"]:hover, #header nav a[href="#menu"]:active {
                                background-color: inherit;
                            }

        }

        @media screen and (max-width: 640px) {

            #header nav a[href="#menu"] {
                width: 4em;
                white-space: nowrap;
                text-indent: 4em;
                position: relative;
            }

                #header nav a[href="#menu"]:before {
                    width: inherit;
                    position: absolute;
                    top: 0;
                    left: 0;
                    text-indent: 0;
                    text-align: right;
                    margin-left: 0;
                    padding-right: 1.25em;
                }

        }

/* Banner */

    #banner {
        background-attachment: scroll,                          scroll,                 fixed;
        background-image: url("images/top-3200.svg");
        background-color: #000000;
        background-position: bottom center,                 top left,               center center;
        background-repeat: repeat-x,                        repeat,                 no-repeat;
        background-size: auto,                   cover;
        color: rgba(255, 255, 255, 0.8);
        padding: 3.5em 0 20em 0;
        position: relative;
        text-align: center;
        /* Test tamaño*/
        height: 400px;
        margin: auto;
    }

        #banner:before, #banner:after {
            background: rgba(224, 224, 224, 0.75);
            content: '';
            left: 50%;
            position: absolute;
            width: 1px;
            z-index: 0;
        }

        #banner:before {
            height: calc(100% - 50px);
            opacity: 0.15;
            top: 0;
        }

        #banner:after {
            bottom: 0;
            height: 50px;
        }

        #banner a {
            border-bottom-color: rgba(255, 255, 255, 0.35);
            color: rgba(255, 255, 255, 0.8);
        }

            #banner a:hover {
                border-bottom-color: transparent;
                color: #4eb980;
            }

        #banner strong, #banner b {
            color: #ffffff;
        }

        #banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
            color: #ffffff;
            margin: -0.5em 0em 0.0em 0em;
        }

        #banner input[type="submit"],
        #banner input[type="reset"],
        #banner input[type="button"],
        #banner .button {
            background: #ffffff;
            color: #544d55;
        }

        #banner .icono {
            margin: 1em 0 0.5em 0;
            height: 8em;
            font-weight: 100;
        }

        #banner .logo {
            background-color: rgba(77, 77, 77, 1);
            border-radius: 100%;
            color: #ffffff;
            cursor: default;
            display: inline-block;
            font-size: 2em;
            height: 2.75em;
            line-height: 2em;
            text-align: center;
            width: 2.75em;
        }

            #banner .logo.fa-paper-plane-o:before {
                left: -0.075em;
                position: relative;
            }

        #banner h1 {
            font-size: 2.5em;
        }

        #banner p {
            font-size: 1.5em;
            line-height: 1.5em;
            margin: 0.25em 0 0 0;
        }

/* Footer */

    #filler {
        background-attachment: scroll, scroll, fixed;
        background-image: url("images/bottom-3200.svg");
        background-color: #000000;
        background-position: top center;
        background-repeat: repeat-x, repeat, no-repeat;
        background-size: auto;
        color: rgba(255, 255, 255, 0.8);
        height: 500px;
        margin-top: -200px;
    }

    #footer {
        background-attachment: scroll;
        background-color: rgba(0, 0, 0, 1);
        color: rgba(255, 255, 255, 0.8);
        /*
            Since the SVG background occupies a lot of vertical space, we'll
            add additional top padding (to move our content out of its way)
            and a negative margin (to move everything up a bit).
        */
        padding: 0 0 10em 0;
        position: relative;
        text-align: center;
    }


        #footer:before {
            background: rgba(224, 224, 224, 0.75);
            content: '';
            height: 0;
            left: 50%;
            position: absolute;
            top: 0;
            width: 1px;
            z-index: 0;
        }

        #footer a {
            color: #ffffff;
        }

        #footer strong, #footer b {
            color: #ffffff;
        }

        #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
            color: #ffffff;
        }

        #footer header p {
            color: rgba(255, 255, 255, 0.5);
        }

        #footer input[type="submit"],
        #footer input[type="reset"],
        #footer input[type="button"],
        #footer .button {
            background: #ffffff;
            box-shadow: inset 0 0 0 1px #ffffff;
            color: #000000;
        }

            #footer input[type="submit"]:hover,
            #footer input[type="reset"]:hover,
            #footer input[type="button"]:hover,
            #footer .button:hover {
                background: rgba(224, 224, 224, 0.15);
                color: #ffffff;
            }

        #footer input[type="text"]:focus,
        #footer input[type="password"]:focus,
        #footer input[type="email"]:focus,
        #footer select:focus,
        #footer textarea:focus {
            border-color: #ffffff;
        }

        #footer .formerize-placeholder {
            color: rgba(255, 255, 255, 0.3) !important;
        }

        #footer form {
            margin: 3em 0;
        }

        #footer .copyright {
            color: rgba(255, 255, 255, 0.5);
            font-size: 0.8em;
            line-height: 1em;
            margin: 0 0 0 0;
        }

            #footer .copyright li {
                border-left: dotted 1px;
                display: inline-block;
                margin-left: 1em;
                padding-left: 1em;
            }

                #footer .copyright li:first-child {
                    padding: 0;
                    margin: 0;
                    border: 0;
                }

                #footer .copyright li a, #footer .copyright li span {
                    color: inherit;
                }

                    #footer .copyright li a:hover, #footer .copyright li span:hover {
                        color: #ffffff;
                    }

/* Main */

    #main {
        padding: 6em 0 5em 0;
        position: relative;
        z-index: 1;
    }

        #main:before {
            background: rgba(224, 224, 224, 0.75);
            content: '';
            height: 100%;
            left: 50%;
            position: absolute;
            top: 0;
            width: 1px;
            z-index: -1;
        }

        #main header.major,
        #main footer.major {
            background: #ffffff;
        }

/* Menu */

    #page-wrapper {
    -moz-transition: -moz-filter 0.25s ease;
    -webkit-transition: -webkit-filter 0.25s ease;
    -ms-transition: -ms-filter 0.25s ease;
    transition: filter 0.25s ease;
    /* test background*/
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    background-attachment: fixed;

        }

    #menu {
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -moz-pointer-events: none;
        -webkit-pointer-events: none;
        -ms-pointer-events: none;
        pointer-events: none;
        -moz-transition: opacity 0.35s ease, visibility 0.35s;
        -webkit-transition: opacity 0.35s ease, visibility 0.35s;
        -ms-transition: opacity 0.35s ease, visibility 0.35s;
        transition: opacity 0.35s ease, visibility 0.35s;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        background: rgba(46, 49, 65, 0.8);
        cursor: default;
        height: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        text-align: center;
        top: 0;
        visibility: hidden;
        width: 100%;
    }

        #menu .inner {
            padding: 2.5em 1.5em 0.5em 1.5em ;
            -moz-transform: translateY(0.5em);
            -webkit-transform: translateY(0.5em);
            -ms-transform: translateY(0.5em);
            transform: translateY(0.5em);
            -moz-transition: opacity 0.35s ease, -moz-transform 0.35s ease;
            -webkit-transition: opacity 0.35s ease, -webkit-transform 0.35s ease;
            -ms-transition: opacity 0.35s ease, -ms-transform 0.35s ease;
            transition: opacity 0.35s ease, transform 0.35s ease;
            -webkit-overflow-scrolling: touch;
            background: #4c5c96;
            border-radius: 5px;
            display: block;
            max-width: 100%;
            opacity: 0;
            position: relative;
            width: 18em;
        }

        #menu h2 {
            border-bottom: solid 2px rgba(255, 255, 255, 0.125);
            padding-bottom: 1em;
            color: #ffffff;
        }

        #menu .close {
            background-image: url("images/close.svg");
            background-position: 75% 25%;
            background-repeat: no-repeat;
            background-size: 2em 2em;
            border: 0;
            content: '';
            display: block;
            height: 4em;
            overflow: hidden;
            position: absolute;
            right: 0;
            text-align: center;
            text-indent: 4em;
            top: 0;
            width: 4em;
        }

        #menu .links {
            list-style: none;
            margin-bottom: 1.5em;
            padding: 0;
        }

            #menu .links li {
                padding: 0;
            }

                #menu .links li a {
                    border-radius: 5px;
                    border: 0;
                    display: block;
                    font-family: Raleway, Helvetica, sans-serif;
                    font-size: 0.8em;
                    font-weight: 200;
                    letter-spacing: 0.1em;
                    line-height: 1.85em;
                    padding: 0.75em 0;
                    text-transform: uppercase;
                    color: #ffffff;
                }

                    #menu .links li a:hover {
                        background: #45558d;
                    }

        @media screen and (max-width: 736px) {

            #menu .inner {
                max-height: 100%;
                overflow-y: auto;
                overflow-x: hidden;
            }

                #menu .inner .close {
                    background-size: 1.5em 1.5em;
                }

        }

    body.is-menu-visible #page-wrapper {
        -moz-filter: blur(1.5px);
        -webkit-filter: blur(1.5px);
        -ms-filter: blur(1.5px);
        filter: blur(1.5px);
    }

    body.is-menu-visible #menu {
        -moz-pointer-events: auto;
        -webkit-pointer-events: auto;
        -ms-pointer-events: auto;
        pointer-events: auto;
        opacity: 1;
        visibility: visible;
    }

        body.is-menu-visible #menu .inner {
            -moz-transform: translateY(0);
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }

/* Wide */

    @media screen and (max-width: 1680px) {

        /* Basic */

            body, input, select, textarea {
                font-size: 14pt;
            }

            h2 {
                font-size: 1.5em;
            }

            h3 {
                font-size: 1.25em;
            }

        /* Section/Article */

            header.major p {
                font-size: 1.25em;
            }

        /* Banner */

            #banner {
                padding: 3.5em 0 16em 0;
            }

                #banner h1 {
                    font-size: 2em;
                }

                #banner p {
                    font-size: 1.25em;
                    line-height: 1.65em;
                }

    }

/* Normal */

    @media screen and (max-width: 1280px) {

        /* Basic */

            body, input, select, textarea {
                font-size: 13pt;
            }

            h2 {
                font-size: 1.35em;
            }

            h3 {
                font-size: 1.15em;
            }

        /* Section/Article */

            header.major {
                margin-bottom: 4em;
                padding: 3em 0;
            }

                header.major p {
                    font-size: 1.15em;
                }

            footer.major {
                margin-top: 4em;
                padding: 3em 0;
            }

        /* Box */

            .box {
                padding: 2.5em;
                margin-bottom: 4em;
            }

        /* Feature */

            .feature {
                height: 18em;
            }

                .feature .content {
                    padding: 2.5em;
                }

        /* Minor */

            .minor {
                height: 13.5em;
            }

        /* Header */

            #banner {
                background-attachment: scroll,                          scroll,                         scroll;
                background-image: url("images/top-1600.svg");
                padding: 3.5em 0 12em 0;
            }

                #banner:before {
                    height: calc(100% - 25px);
                }

                #banner:after {
                    height: 25px;
                }

                #banner h1 {
                    font-size: 2em;
                    font-weight: 350;
                }

                #banner p {
                    font-size: 1.15em;
                }

        /* Footer */

            #footer {
/*
                margin-top: -100px;
*/
                padding: 0 0 6em 0;
            }

                #footer:before {
                    height: 0;
                }

        /* Main */

            #main {
                padding: 4em 0 3em 0;
            }

    }

/* Narrow */

    @media screen and (max-width: 980px) {

        /* Basic */

            body, input, select, textarea {
                font-size: 12pt;
            }

    }

/* Narrower */

    @media screen and (max-width: 840px) {

        /* Section/Article */

            header.major {
                padding-left: 2em;
                padding-right: 2em;
            }

            footer.major {
                padding-left: 2em;
                padding-right: 2em;
            }

    }

/* Mobile */

    @media screen and (max-width: 736px) {

        /* Basic */

            h2 {
                font-size: 1em;
            }

            h3 {
                font-size: 1em;
            }

        /* Section/Article */

            header p {
                font-size: 0.8em;
            }

            header.major {
                margin-bottom: 2em;
            }

                header.major br {
                    display: none;
                }

                header.major p {
                    font-size: 0.8em;
                }

            footer.major {
                margin-top: 2em;
            }

                footer.major br {
                    display: none;
                }

        /* List */

            ul.actions li {
                padding: 0 0 0 15px;
            }

            ul.actions.vertical li {
                padding: 15px 0 0 0;
            }

        /* Box */

            .box {
                padding: 2em;
                margin-bottom: 2em;
            }

        /* Feature */

            .feature {
                background: #ffffff;
                display: block;
                height: auto;
                margin-bottom: 2em;
            }

                .feature:last-child {
                    margin-bottom: 0;
                }

                .feature:before, .feature:after {
                    display: none;
                }

                .feature .image {
                    float: none;
                    height: 15em;
                    width: 100%;
                }

                .feature .content {
                    border: solid 1px rgba(224, 224, 224, 0.75);
                    padding: 2em !important;
                    text-align: center;
                    width: 100%;
                }

        /* Banner */

            #banner {
                background-image: url("images/top-1280.svg");
                padding: 3.5em 0 7em 0;
            }

                #banner:before {
                    height: calc(100% - 20px);
                }

                #banner:after {
                    height: 20px;
                }

                #banner .logo {
                    font-size: 1.5em;
                }

                #banner h1 {
                    font-size: 2em;
                }

                #banner p {
    font-size: 0.78em;
                }

        /* Footer */

            #footer {
/*
                margin-top: -75px;
*/
                padding: 0 0 2em 0;
            }

                #footer:before {
                    height: 0;
                }

                #footer form {
                    padding-bottom: 0;
                }

        /* Main */

            #main {
                padding: 2em 0 2em 0;
            }

    }

/* Mobile (Portrait) */

    @media screen and (max-width: 480px) {

        /* Section/Article */

            header.major {
                padding-left: 1em;
                padding-right: 1em;
            }

            footer.major {
                padding-left: 1em;
                padding-right: 1em;
            }

        /* List */

            ul.icons li {
                padding: 0.2em;
            }

            ul.actions li {
                display: block;
                padding: 15px 0 0 0;
            }

                ul.actions li:first-child {
                    padding: 0;
                }

        /* Button */

            input[type="submit"],
            input[type="reset"],
            input[type="button"],
            .button {
                display: block;
                width: 100%;
            }

        /* Box */

            .box {
                padding: 2em 1em;
            }

        /* Feature */

            .feature {
                margin-bottom: 1em;
            }

                .feature .content {
                    padding: 2em 1em !important;
                }

        /* Main */

            #main {
                padding-left: 1em;
                padding-right: 1em;
            }

        /* Footer */

            #footer {
/*
                margin-top: -100px;
*/
                padding-left: 1em;
                padding-right: 1em;
            }

                #footer .copyright li {
                    border: 0;
                    display: block;
                    margin: 0;
                    padding: 0.75em 0 0 0;
                }

        /* Header */

            #banner {
                padding-left: 2em;
                padding-right: 2em;
            }

                #banner h1 {
                    font-size:1em;
                }

                #banner br {
                    display: none;
                }

    }

/* - flashes messages - */


.flashes{
    font-family: Raleway, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
    height: auto;
    font-size: 1em;
    z-index: 100000;
}
.flashes p{
    display: inline-block;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
}

.flashes div[class~="image"]{
    display: flex;
    width: 100%;
    height: auto;
}
.flashes div[class~="image"]::before{
    height: 100%;
    font-size: 2em;
    width: initial;
    margin: 0px 0px 0px 0px;
    position: relative;
    top: 0%;
    left: 0%;
}

.flashes .error div[class~="image"]::before{
    color: rgba(250, 0, 0, 1);
}

.flashes .error button{
    position: relative;
    border: none;
    border-right: solid rgba(250, 0, 0, 1) 0.1em;
    border-left: solid rgba(250, 0, 0, 1) 0.1em;
    background: none;
    cursor: pointer;
    opacity: 0.7;
    display: block;
    width: 100%;
}

.flashes .error button:hover{
    opacity: 1;
    color: rgba(250, 0, 0, 1);
}

.flashes .error{
    width: 50%;
    height: auto;
    transform: translateX(50%);
    border-right: solid rgba(250, 0, 0, 1) 0.1em;
    border-left: solid rgba(250, 0, 0, 1) 0.1em;
    background-color: rgba(255, 255, 255, 0.849);
}

.flashes .success div[class~="image"]::before{
    color: rgba(0,250,0,1);
}

.flashes .success button{
    position: relative;
    border: none;
    border-right: solid rgba(0,250,0,1) 0.1em;
    border-left: solid rgba(0,250,0,1) 0.1em;
    background: none;
    cursor: pointer;
    opacity: 0.7;
    display: block;
    width:100%;
}

.flashes .success button:hover{
    opacity: 1;
    color: rgba(0,250,0,1);
}

.flashes .success{
    width: 50%;
    height: auto;
    transform: translateX(50%);
    border-right: solid rgba(0,250,0,1) 0.1em;
    border-left: solid rgba(0,250,0,1) 0.1em;
    background-color: rgba(255, 255, 255, 0.849);
}

.flashes .info button{
    position: relative;
    border: none;
    border-right: solid rgb(255, 255, 0) 0.1em;
    border-left: solid rgb(255, 255, 0) 0.1em;
    background: none;
    cursor: pointer;
    opacity: 0.7;
    display: block;
    width:100%;
}

.flashes .info button:hover{
    opacity: 1;
    color: rgb(255, 255, 0);
}

.flashes .info{
    width: 50%;
    height: auto;
    transform: translateX(50%);
    border-right: solid rgb(255, 255, 0) 0.1em;
    border-left: solid rgb(255, 255, 0) 0.1em;
    background-color: rgba(255, 255, 255, 0.849);
}

.flashes .info div[class~="image"]::before{
    color: rgb(255, 255, 0);
}

/* - editor - */
#editor div[class="toolbar"]{
    width: 100%;
    height: auto;
    text-align: center;
    display:flex;
}
#editor a[class="editor"]:hover, #editor button[class="editor"]:hover{
    background-color: grey;
}
#editor a[class="editor"], #editor button[class="editor"]{
    font-family: Raleway, Helvetica, sans-serif;
    width: 50%;
    height: auto;
    margin: 0px 0px 0px 0px;
    display:inline-block;
    border: none;
    background-color: black;
    border-top-left-radius: 0.1em;
    border-top-right-radius: 0.1em;
    opacity: 0.3;
    font-size: 2em;
    color: white;
    text-align: center;
}
#editor button[class="editor"]{
    width: 100%;
}
#editor form{
    margin: 0px 0px 0px 0px;
    width: 50%;
}

#editor textarea{
    border: black solid 0.1em;
}
@media(orientation: portrait){
    #editor button[class="editor"]{
        height: 100%;
    }
}

/* -- viewer of markdown -- */

#editor div[class="viewer"]{
    border: black solid 0.1em;
    width: 100%;
    height: auto;
}

/* - proyecto - */
.proyecto{
    border-top: black solid 0.1em;
    border-bottom: black solid 0.1em;
    margin-bottom: 5em;
    position:relative;
    width: 100%;
    height: auto;
}