<p>{{ _('Your password has been changed.') }}</p>
{% if security.recoverable %}
<p>{{ _('If you did not change your password,') }} <a href="{{ url_for_security('forgot_password', _external=True) }}">{{ _('click here to reset it') }}</a>.</p>
{% endif %}
<html>
    <body style="margin: 0px 0px 0px 0px; ">
        <div style="background-color: white; width: 75vw; overflow: hidden; height: 100%; margin-left: auto; margin-right: auto;">
        
            <p style="margin: 0px 0px 0px 0px; text-align: center; font-size: 2vw; color: black; width: 75vw; text-align: center;">Club de Investigación e Innovación en Mecatrónica</p>
            <div style="
            width: 0;
            height: 0;
            margin-left: auto;
            margin-right: auto;
            border-left: 37.5vw solid transparent;
            border-right: 37.5vw solid transparent;
            border-top: 7.5vw solid black;
            display:inline-block;">
            </div>
    
            <div style="width: 75vw; font-size: 1.5vw; height: 20vw; color: black; overflow: hidden; margin-top: 1vw;">
                <div style="display: inline-block; width: 50%; height: 100%; border-right: black solid 0.2vw;">
                <p style="text-align: justify; margin-right: 5%; margin-left: 5%;">
                    Su contraseña ha sido cambiada
                    {% if security.recoverable %}
                    , si usted no a hecho este cambio <a href="{{ url_for_security('forgot_password', _external=True) }}">has click aqui para resetear tu contraseña</a>
                    {% endif %}
                </p>
                </div>
                <div style=" width: 40%; height: 100%; display: inline-flex;">
                <p style="text-align: left; margin-left: 5%;"> <br/> <br/> Universidad Rafael Urdaneta <br/> <br/> Maracaibo, Zulia, Venezuela</div>
            </div>
    
            <p style="color: grey; font-size: 2vw; margin-top:10%; width: 75vw; text-align: center;">
            "Cualquiera puede cambiar al mundo"</p>
    
        </div>
    </body>
</html>