<!DOCTYPE HTML>
<!--
    Directive by HTML5 UP
    html5up.net | @n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css')}}" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
                <li class="{{ category }}">
                    {% if category == "error" %}
                    <div class="image icon fa-times">
                        <p>{{ message }}</p>
                    </div>
                    {% elif category == "success" %}
                    <div class="image icon fa-check-square">
                        <p>{{ message }}</p>
                    </div>
                    {% elif category == "info" %}
                    <div class="image icon fa-info">
                        <p>{{ message }}</p>
                    </div>
                    {% endif %}
                    <button onclick=event.target.parentElement.remove()>OK</button>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header" class="alt">
            <h1> <a href="/" target="_self">CIIM</h1>
            <a href="/" target="_self" class="logo">
                <image class="icono" src="{{ url_for('static', filename='images/icono.png')}}" />
            </a>
            <nav>
                <a class="menu" href="#menu">Menú</a>
                <a href="http://blog.ciim.com.ve">Blog</a>
                {% if current_user.has_role("admin") %}
                <a href="{{ url_for('admin.index')}}">Admin</a>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <a href="{{ url_for('security.login')}}">Login</a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <a href="{{url_for('ciim.myprojects')}}">Proyectos</a>
                <a href="{{ url_for('ciim.perfil')}}">Perfil</a>
                <a href="{{ url_for('ciim.logout')}}">Logout</a>
                {% endif %}
            </nav>
        </div>

        <!-- Banner -->
        <section id="banner" class="alt">
            <h1>Club de Investigación e Innovación en Mecatrónica</h1>
            <a href="/" target="_self">
                <image class="icono" src="{{ url_for('static', filename='images/icono.png')}}" />
            </a>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <div class="inner">
                <h2>Menú</h2>
                <ul class="links">
                    <li><a href="/">Principal</a></li>
                    {% if current_user.has_role("admin") %}
                    <li><a href="{{ url_for('admin.index')}}">Admin</a></li>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('security.login')}}">Login</a></li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <li><a href="{{url_for('ciim.myprojects')}}">Proyectos</a></li>
                    <li><a href="{{ url_for('ciim.perfil')}}">Perfil</a></li>
                    <li><a href="{{ url_for('ciim.logout')}}">Logout</a></li>
                    {% endif %}
                    <li><a href="http://blog.ciim.com.ve">Blog</a></li>
                </ul>
                <a href="#" class="close">Cerrar</a>
            </div>
        </nav>

        <!-- Main -->
        {% block main %}
        {% endblock%}

        <!-- Footer -->
        <div id="filler"></div>
        <div id="footer">
            {% block footer %}

            {% endblock %}
            <div class="container 75%">
                <!--<ul class="icons">
                            <li><a href="mailto:contacto@ciim.com.ve" class="icon fa-envelope"><span class="label">Correo Electronico</span></a></li>
                            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                        </ul>-->
                <ul class="copyright">
                    <li>&copy; Club CIIM. Todos los derechos reservados.</li>
                    <li>Diseño Original: <a href="http://html5up.net">HTML5 UP</a>.</li>
                    <li>Adaptado y Mantenido por <a href="mailto:wolfang.torres@gmail.com">El Administrador</a>.</li>
                </ul>
            </div>
        </div>

    </div>

    <!-- Scripts -->
    <script>
        // funcion que obtiene el valor de un query
        //TODO poner esto en una libreria aparte
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
        // Comportamineto basico de mensajes en la pagina
        document.getElementById("mensajeFaltante").style.display = "none";
        document.getElementById("mensajeEnviado").style.display = "none";
        if (getParameterByName("estado") == "faltante") {
            document.getElementById("mensajeFaltante").style.display = "block";
        }
        else if (getParameterByName("estado") == "enviado") {
            document.getElementById("mensajeEnviado").style.display = "block";
        }
    </script>
    <script src="{{ url_for('static', filename='assets/js/skel.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/util.js')}}"></script>
    <!--[if lte IE 8]><script src="{{ url_for('static', filename='assets/js/ie/respond.min.js')}}"></script><![endif]-->
    <script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>

</body>

</html>