{% macro render_input(field, placeholder, style) %}
  {# These automaticaly create the label and input tags, woth all the data #}
  <div>
    {% if field.errors %}
      {{ field(placeholder=placeholder, style="{} border-color: red;".format(style), **kwargs)|safe }}
    <ul>
      {% for error in field.errors %}
        <li style="text-align: center;">{{error}}</li>
      {% endfor %}
    </ul>
    {% else %}
    {{ field(placeholder=placeholder, style=style, **kwargs)|safe }}
    {% endif %}
  </div>
{% endmacro %}


{% macro render_field(field) %}
  {{ field(**kwargs)|safe }}
{% endmacro %}