{% extends 'base.html' %}

{% block title %}
Aprobar estudiantes
{% endblock %}

{% block main %}
        <table>
            <tr>
                <th>Nombres</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Estado</th>
            </tr>
            {% for user in course.members %}
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.cellphone}}</td>
                <td> {% if user.approve %}
                        <a href="{{url_for('ciim.approve',id=course.id,toggle=user.id)}}"><i style="cursor: pointer; color:blue" class="fa fa-toggle-on" aria-hidden="true"></i></a>
                    {% else %}
                        <a href="{{url_for('ciim.approve',id=course.id,toggle=user.id)}}"><i style="cursor: pointer;" class="fa fa-toggle-off" aria-hidden="true"></i></a>
                    {% endif %}</td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}