{% extends 'base.html' %}

{% block title %}
Cursos
{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
    {%  if courses %}
        <h1>Cursos</h1>
        {% for course in courses.items %}
        <div class="box container 90%">
            <section class="feature left">
                {% if course.mimetype %}
                <a href="{{url_for('ciim.course',id=course.id)}}" class="image icon fa-book">
                    <img style="width: 100%; height: 100%;" src="{{url_for('ciim.image',table='courses',id=course.id)}}"/></a>
                {% elif loop.index is divisibleby(2) %}
                <a href="{{url_for('ciim.course',id=course.id)}}" class="image icon fa-book"><img style="left: -100%;" src="{{ url_for('static', filename='images/pic05.png')}}"/></a>
                {% else %}
                <a href="{{url_for('ciim.course',id=course.id)}}" class="image icon fa-book"><img style="left: -200%;" src="{{ url_for('static', filename='images/pic05.png')}}"/></a>
                {% endif %}
                <div class="content">
                    <h3>{{course.title}}</h3>
                    <p>{{course.description}}</p>
                </div>
            </section>
        </div>
        {% endfor %}
        {% if courses.pages > 1 %}
        <div class="row" style="text-align: center;">
        <nav aria-label="Page navigation example" style="float:initial; font-size: 1.5em;">
            <ul class="pagination">
            {% if courses.has_prev %}
            <li class="page-item" style ="display: inline-block">
                <a  class="page-link" href="{{url_for('ciim.teachcourses',page=courses.page-1)}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Anterior</span>
                </a>
            </li>
            {% endif %}
            {% if courses.has_prev %}
            <li style ="display: inline-block" class="page-item"><a class="page-link" href="{{url_for('ciim.teachcourses',page=courses.page-1)}}">{{courses.page-1}}</a></li>
            {% endif %}
            <li style ="display: inline-block" class="page-item"><a style="color: blue;" href="{{url_for('ciim.teachcourses',page=courses.page)}}" class="page-link" href="#">{{courses.page}}</a></li>
            {% if courses.has_next %}
            <li style ="display: inline-block" class="page-item"><a href="{{url_for('ciim.teachcourses',page=courses.page+1)}}" class="page-link" href="#">{{courses.page+1}}</a></li>
            {% endif %}
            {% if courses.has_next %}
            <li  style ="display: inline-block"class="page-item">
                <a class="page-link" href="{{url_for('ciim.teachcourses',page=courses.page+1)}}" aria-label="Next">
                <span class="sr-only">Siguiente</span>
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
            </ul>
        </nav>
    </div>
    <div class="row">
        <div class="12u 12u(mobilep)">
            <ul class="actions">
                <li><a href="{{url_for('ciim.newcourse')}}"><input type="submit" value="Abrir un nuevo curso" /></a></li>
            </ul>
        </div>
    </div>
{% endif %}
    {% else %}
        <div class="row">
            <div class="12u 12u(mobilep)" style="text-align: center;">
                ¡Vaya! No hay cursos activos :(
            </div>
        </div>
    {%  endif %}
{% endblock %}