{% extends 'base.html' %}

{% block title %}
{{course.title}}
{% endblock %}

{% block main %}
    {% if current_user.id == teacher.id %}
        <h1>Administración de tu Curso</h1>
        {% if course.is_finalized %}
        <p style="margin-left: 2em; color:orange"><i class="icon fa-info-circle" ></i> Este curso está terminado.</p>
        {% else %}
        <p style="margin-left: 2em; color:greenyellow"><i class="icon fa-check-circle-o" ></i> Este curso está activo.</p>
        {% endif %}
        <center><a href="{{url_for('ciim.approve',id=course.id)}}">Aprobar nuevos estudiantes</a></center>
        <form method="POST" enctype="multipart/form-data" action="{{url_for('ciim.course',id=course.id)}}">
        <div style="margin-left: 3em; display:inline-block;" class="box container 75%">
            <section class="feature minor center">
                 <a class="image icon fa-pencil-square">
                     {% if course.mimetype %}
                     <img id="preview" style="width: 100%; height: 100%;" src="{{url_for('ciim.image',table='courses',id=course.id)}}" alt="Edita la imagen del curso">
                     {% else %}
                        <img id="preview" style="width: 100%; height: 100%;" src="{{ url_for('static', filename='images/pic03.jpg')}}" alt="Edita la imagen del curso">
                     {% endif %}
                     <input id="image" name="image" type="file" accept=".jpg, .jpeg, .png" style="opacity: 0; width: 100%; height: 100%; position: absolute; z-index: 100; cursor: pointer; left: 0%;"/>
                 </img>
                </a>
                <div style="position:absolute;" class="content">
                    <input type="text" name="title" id="title" style="display:none;"/>
                    <input type="text" name="description" id="description" style="display:none;"/>
                    <h1 id="edit_title" contenteditable="true">{{course.title}}</h1>
                    <p id="edit_description" contenteditable="true">{{course.description}}</p>
                </div>
             </section>
         </div>
        <ul style="display:inline-block;">
            <li><input style="margin-top: -1em; margin-bottom:1em;" type="submit" value="Clases" /></li>
            {% if course.is_finalized %}
                <li><input style="margin-top: -1em; margin-bottom:1em;" name="start" type="submit" value="Reanudar Curso" /></li>
            {% else %}
                <li><input style="margin-top: -1em; margin-bottom:1em;" name="finish" type="submit" value="Terminar Curso" /></li>
            {% endif %}
        </ul>
         <div id="save" style="display:none;" class="row">
            <div class="12u 12u(mobilep)">
                <ul class="actions">
                    <li><input type="submit" value="Guardar Cambios" /></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <center style="float:initial">
                <a style="color:red; cursor:pointer; " href="{{url_for('ciim.course',id=course.id,delete=True)}}">
                    Eliminar Curso
                </a>
            </center>
        </div>
        </form>

        <script>
            window.addEventListener("load", event => {
                document.getElementById("image").onchange = event => {
                    if (event.target.files[0].size < (1024*1024)){
                        var reader  = new FileReader();
                        var preview = document.getElementById("preview");
                        reader.onloadend = function () {
                            preview.src = reader.result;
                        }
                        reader.readAsDataURL(event.target.files[0]);
                    }
                    else{
                        event.target.files[0] = null;
                        alert("max file size 1 MB !");
                    }
                    document.getElementById("save").style.display = "initial";
                }
                document.getElementById("edit_title").oninput = event => {
                    document.getElementById("title").value = document.getElementById("edit_title").innerText
                    document.getElementById("save").style.display = "initial";
                }
                document.getElementById("edit_description").oninput = event => {
                    document.getElementById("description").value = document.getElementById("edit_description").innerText
                    document.getElementById("save").style.display = "initial";
                }
            })
        </script>
    {% else %}
        <div class="box container 80%">
                    {% if course.is_finalized %}
                    <p style="color:orange"><i class="icon fa-info-circle" ></i> Este curso está terminado.</p>
                    {% else %}
                    <p style="color:greenyellow"><i class="icon fa-check-circle-o" ></i> Este curso está activo.</p>
                    {% endif %}
                    <header>
                        <h1 style="font-size: 200%;">{{course.title}}</h1>
                        <p>{{course.description}}</p>
                    </header>
                    {% if course.mimetype %}
                    <img id="preview" style="width:100%;" src="{{url_for('ciim.image',table='courses',id=course.id)}}"/>
                    {% else %}
                    <img id="preview" style="width:100%;" src="{{ url_for('static', filename='images/pic03.jpg')}}"/>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                        {% if is_student %}
                            {% if is_approved %}
                                <p style="color:greenyellow"><i class="icon fa-check-circle-o" ></i> Estás aprobado.</p>
                            {% else %}
                                <p style="color:orange"><i class="icon fa-info-circle" ></i> Todavía no has sido aprobado por el profesor.</p>
                            {% endif %}
                        {% else %}
                            <center><a href="{{url_for('ciim.course',id=course.id,join=True)}}"><b>¡Inscríbete!</b></a></center>
                        {% endif %}
                    {% else %}
                    <p>¿Te interesa? Quizás debas <a href="{{url_for('ciim.inscripciones')}}">inscribirte al club</a>
                     o <a href="{{url_for('security.login')}}">ingresa</a> si ya eres miembro</p>
                    {% endif %}
        </div>
    {% endif %}
{% endblock %}