{% extends 'base.html' %}

{% block title %}
Editor
{% endblock %}

{% block scripts %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/markdown.css')}}" />
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
<script>
    function enableTab(id) {
    var el = document.getElementById(id);
    el.onkeydown = function(e) {
        if (e.keyCode === 9) { // tab was pressed

            // get caret position/selection
            var val = this.value,
                start = this.selectionStart,
                end = this.selectionEnd;

            // set textarea value to: text before caret + tab + text after caret
            this.value = val.substring(0, start) + '\t' + val.substring(end);

            // put caret at right position again
            this.selectionStart = this.selectionEnd = start + 1;

            // prevent the focus lose
            return false;

        }
    };
}
</script>
{% endblock %}

{% block main %}
<div class="row">
    <div class="12u 12u(mobilep)"style="text-align: center;" >
        <h1 id="title" style="text-transform: none;"contenteditable="true">{{post.title}}</h1>
        <p id="description" style="text-align: left;" contenteditable="true">{{post.description}}</p>
    </div>
</div>
<div class="row">
    <div class="12u 12u(mobilep)"style="text-align: center;" >
        <a href="{{url_for('ciim.markdoc')}}" rel="noopener noreferrer" target="_blank">¿No sabes cómo comenzar? ¡Conoce cómo hacer tu post!</a>
    </div>
</div>
{% if edit %}
<div class="row">
    <div class="12u 12u(mobilep)">
        <div id="editor">
            <div class="toolbar">
            <a class="editor" style='opacity:1'>
                Editor
            </a>
            <form method="POST" action="{{url_for('ciim.editor')}}">
                <input  type="hidden" name="id" value="{{post.id}}"/>
                <input class="title" type="hidden" name="title"/>
                <input class="description" type="hidden" name="description"/>
                <input id="content" type="hidden" name="content"/>
               <button class="editor">Vista Previa</button>
            </form>
            </div>
            <textarea id="post">{{textmarkdown}}</textarea>
        </div>
    </div>
</div>
<form method="POST" action="{{url_for('ciim.editor')}}">

    <div class="row">
        <div class="12u 12u(mobilep)">
            <input  type="hidden" name="id" value="{{post.id}}"/>
            <input class="title" type="hidden" name="title"/>
            <input class="description" type="hidden" name="description"/>
            <input id="savecontent" name="savecontent" type="hidden"/>
            <ul class="actions">
                <li><input type="submit" name="save" value="guardar" /></li>
            </ul>
        </div>
    </div>
</form>

<script>

    enableTab("post");

    var container = document.getElementById("post");
    var title = document.getElementById("title");
    var description = document.getElementById("description");

    function load(){
        container.style.height = "";
        container.style.height = container.scrollHeight + "px";
        document.getElementById("content").value=container.value;
        document.getElementById("savecontent").value=container.value;
        var titles = document.getElementsByClassName("title");
        for(current of titles)
            current.value = title.innerText;
        var descriptions = document.getElementsByClassName("description");
        for(current of descriptions)
            current.value = description.innerText;
    }

    container.oninput = event => {load()};
    window.addEventListener("load", event => {load()});
    title.oninput = event => {load()}
    description.oninput = event => {load()}
</script>
{% else %}
<div class="row">
    <div class="12u 12u(mobilep)">
        <div id="editor">
            <div class="toolbar">
            <form method="POST" action="{{url_for('ciim.editor')}}">
                    <input  type="hidden" name="id" value="{{post.id}}"/>
                    <input class="title" type="hidden" name="title"/>
                    <input class="description" type="hidden" name="description"/>
                    <input type="hidden" name="editcontent" value="{{textmarkdown}}"/>
                    <button class="editor">Editor</button>
            </form>
            <a class="editor" style='opacity:1'>
                Vista Previa
            </a>
            </div>
            <div class="viewer">
                <div class="markdown">
                    {{ html|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
<script>


    
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('code').forEach((block) => {
          hljs.highlightBlock(block);
        });
      });

    var container = document.getElementById("post")
    var title = document.getElementById("title")
    var description = document.getElementById("description")

    function load(){
        var titles = document.getElementsByClassName("title")
        for(current of titles)
            current.value = title.innerText;
        var descriptions = document.getElementsByClassName("description")
        for(current of descriptions)
            current.value = description.innerText;
    }

    title.oninput = event => {load()}
    description.oninput = event => {load()}
    window.addEventListener("load", event => {load()})
</script>
{%  endif %}
<div class="row">
    <div class="12u 12u(mobilep)"style="text-align: center;" >
        ¿Acabaste de editar tu post? <a href="{{url_for('ciim.post',id=post.id)}}">Presiona aquí para ir a verlo</a>
    </div>
</div>
{% endblock %}