{% extends 'base.html' %}

{% block title %}
Feria
{% endblock %}

{% block main %}
<div id="main">
    <header class="major container 75%">
        <h2>Las Creaciones y Proyectos
            <br />
            Son la mas pura representacion
            <br />
            del amor hacia la Ingeneria</h2>
    </header>
    <div class="box container">
        <header>
            <h2>UnexFest</h2>
        </header>
        <section>
            <header>
                <h3>¿Que es?</h3>
            </header>
            <p>La 2º Feria Integral de Innovación científica Antonio José de Sucre,
                es el lugar ideal para mostarle al mundo
                tus mas interesantes y creativas maquinaciones.
                Decenas de creadores y expectadores se reunen una mañana para compartir su amor
                por la mecatronica, aprender entre ellos, y pasar un buen rato.<br />
                <center><strong>¡Y tu puedes formar parte!</strong></center>
            </p>
        </section>
        <section>
            <header>
                <h3>¿Cuando y Donde?</h3>
            </header>
            <p>La UnexFest se celebrara el
                <strong>Miercoles, 09 de Marzo de 2016</strong>,
                apartir de la <strong>8:00 am</strong>, en
                la sede de la <strong>UNEXPO Nucleo Carora</strong>,
                que se encuentra en la esquina de las calles
                Comercio con Calvario.
            </p>
        </section>
        <section>
            <header>
                <h3>¿Quien puede presentar un Proyecto?</h3>
            </header>
            <p>Todos los estudiantes de la UNEXPO en Carora pueden
                inscribirse para obtener un lugar en la feria,
                ademas muchas materias requieren que el
                estudiante presente un proyecto como evaluación final.
            </p>
        </section>
        <section>
            <header>
                <h3>¿Como me Inscribo?</h3>
            </header>
            <p>Debes usar el formulario de abajo,
                recuerda llenar toda la información relevante.
                Seras redirigido a un Recibo de confirmación,
                el cual debes imprimir.
                La inscripción También tiene un costo de Bsf.100,
                la cual se cobrara al momento del ingreso.
            </p>
        </section>
        <section>
            <header>
                <h3>Notas</h3>
            </header>
            <p>
                <center>
                    <strong>Las Inscripciones son hasta el Miércoles, 1 de Marzo.</strong>
                </center>
                <center>
                    <strong>La Cuota y el Recibo deben ser
                        presentados para completar la Inscripción.</strong>
                </center>
                <center>
                    <strong>Todos los Proyectos que requieran conexión a un enchufe
                        eléctrico deben traer su propia extensión.</strong>
                </center>
            </p>
        </section>

        <header class="major container 75%">
            <h2>Disculpa,
                <br />
                Pero ya cerraron las inscripciones formales para la UnexFest,
                Asegurate de asistir de todos modos, ¡Nunca se sabe!
            </h2>
        </header>
        <header class="major container 75%" id="mensajeInscrito">
            <h2>Felicidades,
                <br />
                ¡Ya estas inscrito en la Feria!
            </h2>
        </header>
        <header class="major container 75%" id="mensajeFaltante">
            <h2>Disculpa,
                <br />
                pero te falto completar el Formulario,
                <br />
                asegurate de llenar todos los campos con asteriscos
            </h2>
        </header>
        <!--
                <section id="formularioProyecto">
                    <header>
                        <h3>Inscripciones</h3>
                    </header>
                    <form method="post" action="cgi-bin/FormMailFeria.pl" name="formaProyecto">
                        <input type="hidden" name="recipient" value="proyectos@ciim.club" />
                        <input type="hidden" name="subject" value="Inscripcion a la UnexFest" />
                        <input type="hidden" name="required" value="proyecto,realname,expediente1,email"/>
                        <input type="hidden" name="missing_fields_redirect" value="../feria.html?estado=faltante#mensajeFaltante"/>
                        <h5>Proyecto</h5>
                        <div class="row">
                            <div class="12u 12u(mobilep)">
                                <input type="text" name="proyecto" placeholder="Nombre del Proyecto*" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="12u">
                                <textarea name="descripcion" placeholder="Descripción del Proyecto" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="4u 12u(mobilep)">
                                <select name="especialidad">
                                    <option value="Ing. Mecatronica">Ing. Mecatronica</option>
                                    <option value="Ing. Rural">Ing. Rural</option>
                                    <option value="TSU. Electronica">TSU. Electronica</option>
                                    <option value="TSU. Mecanica">TSU. Mecanica</option>
                                </select>
                            </div>
                            <div class="4u 12u(mobilep)">
                                <input type="text" name="materia" placeholder="Materia" />
                            </div>
                            <div class="4u 12u(mobilep)">
                                <input type="text" name="profesor" placeholder="Profesor(a)" />
                            </div>
                            <datalist id="especialidad" >
                                <option>Ing. Mecatronica</option>
                            </datalist>
                        </div>
                        <br/>
                        <h5>Representante</h5>
                        <div class="row">
                            <div class="6u 12u(mobilep)">
                                <input type="text" name="realname" placeholder="Nombre del Representante del Equipo*" />
                            </div>
                            <div class="6u 12u(mobilep)">
                                <input  type="text" name="expediente1" placeholder="Expediente*" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="6u 12u(mobilep)">
                                <input type="text" name="telefono" placeholder="Telefono" />
                            </div>
                            <div class="6u 12u(mobilep)">
                                <input type="email" name="email" placeholder="Correo Electronico*" />
                            </div>
                        </div>
                        <br/>
                        <h5>Otros Miembros</h5>
                        <div class="row">
                            <div class="6u 12u(mobilep)">
                                <input type="text" name="miembro2" placeholder="Segundo Miembro" />
                            </div>
                            <div class="6u 12u(mobilep)">
                                <input type="text" name="expediente2" placeholder="Expediente" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="6u 12u(mobilep)">
                                <input type="text" name="miembro3" placeholder="Tercer Miembro" />
                            </div>
                            <div class="6u 12u(mobilep)">
                                <input type="text" name="expediente3" placeholder="Expediente" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="6u 12u(mobilep)">
                                <input type="text" name="miembro4" placeholder="Cuarto Miembro" />
                            </div>
                            <div class="6u 12u(mobilep)">
                                <input type="text" name="expediente4" placeholder="Expediente" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="12u">
                                <ul class="actions">
                                    <li><input type="submit" value="Incribirse" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
-->
    </div>
</div>
</div>
{% endblock %}