{% extends 'base.html' %}

{% block title %}
Club CIIM
{% endblock %}

{% block main %}

<div id="main">

    <header class="major container 75%">
        <h2>
            Club de Investigación e Innovación en Mecatrónica
            <br />
            <br />
            Una organización de estudiantes
            <br />
            interesados en aprender y crear
        </h2>
    </header>

    <div class="box container">
        <section class="feature left">
            <a href="http://blog.ciim.com.ve" class="image icon fa-newspaper-o"><img src="{{ url_for('static', filename='images/pic01.jpg')}}" alt="Noticiero CIIM" /></a>
            <!--comienzo blog-->
            <div class="content">
                <h3>Blog</h3>
                <p>Enterate antes que todos acerca de todas las noticias importantes (Y las no tan importantes)
                    en nuestro blog.</p>
            </div>
        </section>

        <section class="feature right">
            <a href="{{url_for('ciim.inscripciones')}}" class="image icon fa-wrench"><img src="{{ url_for('static', filename='images/pic03.jpg')}}" alt="Crea, Comparte, Aprende, Repite." /></a>
            <div class="content">
                <h3>Inscripciones</h3>
                <p>¿Interesado en unirte? Las inscripciones están abiertas para todos los estudiantes de la URU.</p>
            </div>
        </section>
        <section class="feature left">
           
            <a href="{{url_for('ciim.posts')}}" class="image icon fa-cubes"><img src="{{ url_for('static', filename='images/pic02.jpg')}}" alt="Proyectos CIIM" /></a>
            <div class="content">
                <h3 style="color:rgba(255,0,0,0.8);">¡Nuevo!</h3> <h3>Proyectos</h3>
                <p>¿Quieres ver las últimas novedades de proyectos de los miembros del CIIM? Este es el apartado.</p>
            </div>
        </section>
        <section class="feature right">
            <a href="{{url_for('ciim.courses')}}" class="image icon fa-university"><img src="{{ url_for('static', filename='images/pic04.png')}}" alt="Cursos CIIM" /></a>
            <!--comienzo blog-->
            <div class="content">
                <h3 style="color:rgba(255,0,0,0.8);">¡Nuevo!</h3> <h3>Cursos</h3>
                <p>Enterate de los cursos que estamos dictando en este momento, quizás te interese alguno.</p>
            </div>
        </section>
    </div>

    <header class="major container 75%">
        <h2>Información Importante</h2>
    </header>

    <div class="box container 75%">
        <section class="feature minor left">
            <a href="{{url_for('ciim.reglamento')}}" class="image icon fa-legal"><img src="{{ url_for('static', filename='images/pic01.jpg')}}" alt="Da Rules" /></a>
            <div class="content">
                <h3>Las Reglas</h3>
            </div>
        </section>
    </div>

    {% if current_user.has_role("teacher") %}
        <div class="box container 75%">
            <section class="feature minor right">
                <a href="{{url_for('ciim.teachcourses')}}" class="image icon fa-book"><img src="{{ url_for('static', filename='images/pic04.png')}}" alt="Tus Cursos" /></a>
                <div class="content">
                    <h3>Tus Cursos</h3>
                </div>
            </section>
        </div>
    {% endif %}

</div>
        
{% endblock %}

{% block footer %}
<header class="major container 75%" id="mensajeFaltante">
    <h2>
        Disculpa,
        <br />
        Pero necesitamos que nos des tu Correo
        <br />
        para poder responderte.
    </h2>
</header>
<header class="major container 75%" id="mensajeEnviado">
    <h2>
        Gracias por tu mensaje!
        <br />
        Te responderemos tan pronto como un humano lo lea.
    </h2>
</header>

    <header class="major last">
        <h2>Contáctanos</h2>
    </header>
    <p>Expresa cualquier duda, sugerencia o comentario.</p>
    <form name="formaSugerencia" action="https://formspree.io/wolfang.torres@gmail.com" method="POST">
        <!-- <input type="hidden" name="recipient" value="wolfang.torres@gmail.com" /> -->
        <input type="hidden" name="_subject" value="Mensaje de sugerencia desde la pagina principal" />
        <!-- <input type="hidden" name="required" value="email,message" /> -->
        <input type="hidden" name="_next" value="http://ciim.com.ve/index.html?estado=enviado#mensajeEnviado" />
        <!-- <input type="hidden" name="missing_fields_redirect" value="../index.html?estado=faltante#mensajeFaltante" /> -->
        <div class="row">
            <div class="6u 12u(mobilep)">
                <input type="text" name="realname" placeholder="Nombre" />
            </div>
            <div class="6u 12u(mobilep)">
                <input type="email" name="_replyto" placeholder="Correo Electronico" />
            </div>
        </div>
        <div class="row">
            <div class="12u">
                <textarea name="message" placeholder="Mensaje" rows="6"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="12u">
                <ul class="actions">
                    <li><input type="submit" value="Enviar Mensaje" /></li>
                </ul>
            </div>
        </div>
    </form>
{% endblock %}