{% extends 'base.html' %}

{% block title %}
Inscripciones
{% endblock %}

{% block main %}
<div id="main">
    <!-- <header class="major container 75%">
        <h2>
            <br />
            Son la mas pura representacion
            <br />
            del amor hacia la Ingeneria</h2>
    </header> -->
    <div class="box container">
        <header>
            <h2>Inscripciones</h2>
        </header>
        <section>
            <header>
                <h3>¿Que es?</h3>
            </header>
            <p>
                Tu oportunidad para aprender y poner en práctica proyectos en los
                campos de programación, inteligencia artificial, robótica
                y todo lo relacionado con la mecatrónica.
                <center><strong>¡Y tu puedes formar parte!</strong></center>
            </p>
        </section>
        <section>
            <header>
                <h3>¿Cuándo y Dónde?</h3>
            </header>
            <p>Las inscripciones estarán abiertas hasta el viernes primero de Marzo de 2019,
                y te puedes inscribir aqui mismo en la página.
            </p>
        </section>
        <section>
            <header>
                <h3>¿Quién puede inscribirse?</h3>
            </header>
            <p>Todos los estudiantes de la URU que esten interesados en aprender,
                no se requiere previo conocimiento de los temas pero si que tengan motivación.
            </p>
        </section>
        <section>
            <header>
                <h3>¿Cómo me inscribo?</h3>
            </header>
            <p>Debes usar el formulario de abajo,
                recuerda llenar toda la información relevante.
            </p>
        </section>
        <section>
            <header>
                <h3>¿Qué pasa después?</h3>
            </header>
            <p>Cuando finalice el periodo de inscripciones serás contactado
                por tu correo electrónico y/o teléfono para informarte
                de la fecha de la primera reunión.
            </p>
        </section>
        <!-- <section>
            <header>
                <h3>Notas</h3>
            </header>
            <p>
                <center>
                    <strong>Las Inscripciones son hasta el Miércoles, 1 de Marzo.</strong>
                </center>
                <center>
                    <strong>La Cuota y el Recibo deben ser
                        presentados para completar la Inscripción.</strong>
                </center>
                <center>
                    <strong>Todos los Proyectos que requieran conexión a un enchufe
                        eléctrico deben traer su propia extensión.</strong>
                </center>
            </p>
        </section> -->

        <!--<header class="major container 75%">
            <h2>Disculpa,
                <br />
                Pero ya cerraron las inscripciones formales,
                Trata de asistir de todos modos, ¡Nunca se sabe!
            </h2>
        </header>-->
        {% if current_user.is_authenticated %}
        <header class="major container 75%" id="mensajeInscrito">
            <h2>Felicidades,
                <br />
                ¡Ya estás inscrito en el club!
            </h2>
        </header>
        {% endif %}
        <!--<header class="major container 75%" id="mensajeFaltante">
            <h2>Disculpa,
                <br />
                pero te falto completar el Formulario,
                <br />
                asegurate de llenar todos los campos con asteriscos
            </h2>
        </header>-->

        {% if not current_user.is_authenticated %}
        <section id="formularioProyecto">
            <header>
                <h3>Inscripciones</h3>
            </header>
            <form name="formaInscripcion" method="POST">
                <div class="row">
                    <div class="8u 12u(mobilep)">
                        <input type="text" name="realname" placeholder="Tu Nombre" />
                    </div>
                    <div class="4u 12u(mobilep)">
                        <input type="text" name="cedula" placeholder="Cedula" />
                    </div>
                </div>
                <div class="row">
                    <div class="4u 12u(mobilep)">
                        <input type="text" name="cellphone" placeholder="Telefono" />
                    </div>
                    <div class="8u 12u(mobilep)">
                        <input type="text" name="email" placeholder="Correo Electronico" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div style="text-align:right" class="4u 12u(mobilep)">
                        <span>Tu Carrera</span>
                    </div>
                    <div class="8u 12u(mobilep)">
                        <select name="especialidad">
                            <option value="otra">Otra</option>
                            <option value="Ingeniería Eléctrica">Ingeniería Eléctrica</option>
                            <option value="Ingeniería de Computación">Ingeniería de Computación</option>
                            <option value="Ingeniería Química">Ingeniería Química</option>
                            <option value="Ingeniería Civil">Ingeniería Civil</option>
                            <option value="Ingeniería en Telecomunicaciones">Ingeniería en Telecomunicaciones
                            </option>
                            <option value="Ingeniería Industrial">Ingeniería Industrial</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="12u">
                        <textarea name="descripcion" placeholder="Tus areas de interes (opcional)"
                            rows="5"></textarea>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="12u 12u(mobilep)">
                        <ul class="actions">
                            <li><input type="submit" value="Inscribirse" /></li>
                        </ul>
                    </div>
                </div>
            </form>
            {% endif %}
        </section>

    </div>
</div>
</div>
{% endblock %}