{% extends 'base.html' %}

{% block title %}
Documentacion markdown
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/table.css')}}" />
{% endblock %}

{% block main %}
<div class="container 100%">

    <table>
        <thead>
          <tr>
            <th>Accion</th>
            <th>Modo de uso</th>
            <th>Descripcion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Bloque de código</strong></td>
            <td>´´´hello world´´´</td>
            <td>Poniendo el codigo entre tres ´´´ o ~~~</td>
          </tr>
          <tr>
            <td><strong>Titulos</strong></td>
            <td>#titulo o #titulo#</td>
            <td>Dependiendo de cuantas # esten varia el encabezado (de 1 a 6)</td>
          </tr>
          <tr>
            <td><strong>Listas</strong></td>
            <td>1.Mi <br/><br/> 2.Primera <br/><br/> 3.Lista</td>
            <td>Para listas se coloca el numero en cada dos inicio de linea</td>
          </tr>
          <tr>
            <td><strong>Citas</strong></td>
            <td>> esto es <br/> > una <br/> > cita</td>
            <td>Para citar texto se coloca un > en cada inicio de linea</td>
          </tr>
          <tr>
            <td><strong>Negrita</strong></td>
            <td>**texto en negrita** o __texto en negrita__</td>
            <td>se coloca doble * o _ al inicio y fin del texto</td>
          </tr>
          <tr>
            <td><strong>Cursiva</strong></td>
            <td>*texto en cursiva* o _texto en cursiva_</td>
            <td>se coloca un * o _ al inicio y fin del texto</td>
          </tr>
          <tr>
            <td><strong>Links</strong></td>
            <td>[nombre](http://ejemplo.com/ "Titulo al poner el cursor") <br/> o <br/> [nombre](http://ejemplo.com/)</td>
            <td>Para poner links se coloca entre [ ] el nombre con que se va a visualizar 
                entre ( ) va el link y/o el titulo que se vera al mantener el cursor 
                sobre el link</td>
          </tr>
          <tr>
            <td><strong>Imagenes</strong></td>
            <td>![Titulo imagen](http://example.com/picture.jpg) <br/> o <br/>
                ![Titulo imagen](http://example.com/picture.jpg "Titulo al poner el cursor")</td>
            <td>Muy similar al poner links, la unica diferencia es que se antepone un signo de exclamación -> ! 
                 y que el titulo no se visualiza como tal, pero si se ve el titulo al poner el cursor sobre 
                la imagen
            </td>
          </tr>
          <tr>
            <td><strong>Video</strong></td>
            <td>[!embed](http://youtube.com/watch?v=example)</td>
            <td>Para introducir videos es importante colocar !embed dentro de los corchetes, 
                seguido del link del video entre parentesis
            </td>
          </tr>
        </tbody>
      </table>
</div>
<div class="row">
    <div class="12u 12u(mobilep)"style="text-align: center;" >
        <p>Toda la información de esta tabla ha sido probada y verificada en esta página</p>
    </div>
</div>
<div class="row">
    <div class="12u 12u(mobilep)"style="text-align: center;" >
        ¿Falta algo? visita la <a href="https://daringfireball.net/projects/markdown/syntax"> documentacion del markdown utilizado </a>
    </div>
</div>
<div class="row">
    <div class="12u 12u(mobilep)"style="text-align: center;" >
        Este markdown (reducción) fue extendido para poder presentar videos, puedes visitar la <a href="https://pyembed.github.io/usage/markdown/"> documentacion de la extensión </a>
    </div>
</div>
{% endblock %}