{% extends 'base.html' %}

{% block title %}
Nuevo Proyecto
{% endblock %}

{% block main %}
<form method="POST" action="{{url_for('ciim.newproject')}}">
    <div class="row">
        <div class="12u 12u(mobilep)"style="text-align: center;" >
            <input name="title" type="text" placeholder="Titulo del proyecto"/>
        </div>
    </div>
    <div class="row">
        <div class="12u">
            <textarea name="description" placeholder="Descripcion del proyecto"
                rows="3"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="12u 12u(mobilep)">
            <ul class="actions">
                <li><input type="submit" value="Crear Proyecto" /></li>
            </ul>
        </div>
    </div>
</form>
{% endblock %}