{% extends 'base.html' %}

{% block title %}
Nuevo Curso
{% endblock %}

{% block main %}
<form method="POST" enctype="multipart/form-data" action="{{url_for('ciim.newcourse')}}">
    <div class="box container 100%">
       <center><section class="feature minor center">
            <a class="image icon fa-pencil-square">
                <img id="preview" style="width: 100%; height: 100%;" src="{{ url_for('static', filename='images/pic03.jpg')}}" alt="Edita la imagen del curso">
                <input id="image" name="image" type="file" accept=".jpg, .jpeg, .png" style="opacity: 0; width: 100%; height: 100%; position: absolute; z-index: 100; cursor: pointer; left: 0%;"/>
            </img></a>
        </section></center> 
    </div>
    <div class="row">
        <div class="12u 12u(mobilep)"style="text-align: center;" >
            <input name="title" type="text" placeholder="Titulo del curso"/>
        </div>
    </div>
    <div class="row">
        <div class="12u">
            <textarea name="description" placeholder="Descripcion del curso"
                rows="3"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="12u 12u(mobilep)">
            <ul class="actions">
                <li><input type="submit" value="Crear Curso" /></li>
            </ul>
        </div>
    </div>
</form>

<script>
    window.addEventListener("load", event => {
        document.getElementById("image").onchange = event => {
            if (event.target.files[0].size < (1024*1024)){
                var reader  = new FileReader();
                var preview = document.getElementById("preview");
                reader.onloadend = function () {
                    preview.src = reader.result;
                }
                reader.readAsDataURL(event.target.files[0]);
            }
            else{
                event.target.files[0] = null;
                alert("max file size 1 MB !");
            }
        }
    })
</script>
{% endblock %}