{% extends 'base.html' %}

{% block title %}
Perfil
{% endblock %}

{% block main %}
<header><h1>{{current_user.name}}</h1>
    <p>
    {% if current_user.has_role("admin") %}
    Administrador <br>
    {% endif %}
    {% if current_user.has_role("teacher") %}
    Profesor <br>
    {% endif %}
    {% if current_user.has_role("member") %}
    Miembro <br>
    {% endif %}
    </p>
</header>


{% if not iseditable %}
<div>
    <p style="text-align: center;"><strong>Carrera:</strong> {{current_user.career}}</p>
    <p style="text-align: center;"><strong>Email:</strong> {{current_user.email}}</p>
    <p style="text-align: center;"><strong>Cedula:</strong> {{current_user.id_card}}</p>
    <p style="text-align: center;"><strong>Numero de Contacto:</strong> {{current_user.cellphone}}</p>
    <p style="text-align: center;"><strong>Descripcion:</strong> {{current_user.description}}</p>
    <p style="text-align: center;"><strong>Fecha de creacion:</strong> {{current_user.creation_time}}</p>

</div>

<div class="row">
    <div class="12u 12u(mobilep)">
        <ul class="actions">
            <li><a href="{{url_for('security.change_password')}}"><input type="submit" value="cambiar contraseña"/></a>
                <a href="{{url_for('ciim.perfil', edit=True)}}"><input type="submit" value="editar datos"/></a></li>
        </ul>
    </div>
</div>

{% else %}
<form action="{{ url_for('ciim.perfil') }}" method="post">
    <div>
        <p style="text-align: center;"><strong>Carrera:</strong> <input type="text" name="career" value="{{current_user.career}}"/></p>
        <p style="text-align: center;"><strong>Email:</strong> {{current_user.email}}</p>
        <p style="text-align: center;"><strong>Cedula:</strong> {{current_user.id_card}}</p>
        <p style="text-align: center;"><strong>Numero de Contacto:</strong> <input type="text" name="cellphone" value="{{current_user.cellphone}}"/></p>
        <p style="text-align: center;"><strong>Descripcion:</strong>  <input type="text" name="description" value="{{current_user.description}}"/></p>
        <p style="text-align: center;"><strong>Fecha de creacion:</strong> {{current_user.creation_time}}</p>
    </div>
    <div class="row">
        <div class="12u 12u(mobilep)">
            <ul class="actions">
                <li><input type="submit" value="editar datos"/></li>
            </ul>
        </div>
    </div>
</form>

{% endif %}

{% endblock %}