{% extends 'base.html' %}

{% block title %}
Proyectos
{% endblock %}

{% block main %}

{% if posts %}
    {% for post in posts.items %}
        <div class="box container 90%">
            <section class="feature left">
                {% if loop.index is divisibleby(2) %}
                <a href="{{url_for('ciim.post',id=post.id)}}" class="image icon fa-cube"><img src="{{ url_for('static', filename='images/pic02.jpg')}}"/></a>
                {% else %}
                <a href="{{url_for('ciim.post',id=post.id)}}" class="image icon fa-cube"><img src="{{ url_for('static', filename='images/pic03.jpg')}}"/></a>
                {% endif %}
                <div class="content">
                    <h3>{{post.title}}</h3>
                    <p>{{post.description}}</p>
                </div>
            </section>
        </div>
    {% endfor %}
    {% if posts.pages > 1 %}
        <div class="row" style="text-align: center;">
        <nav aria-label="Page navigation example" style="float:initial; font-size: 1.5em;">
            <ul class="pagination">
            {% if posts.has_prev %}
            <li class="page-item" style ="display: inline-block">
                <a  class="page-link" href="{{url_for('ciim.posts',page=posts.page-1)}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Anterior</span>
                </a>
            </li>
            {% endif %}
            {% if posts.has_prev %}
            <li style ="display: inline-block" class="page-item"><a class="page-link" href="{{url_for('ciim.posts',page=posts.page-1)}}">{{posts.page-1}}</a></li>
            {% endif %}
            <li style ="display: inline-block" class="page-item"><a style="color: blue;" href="{{url_for('ciim.posts',page=posts.page)}}" class="page-link" href="#">{{posts.page}}</a></li>
            {% if posts.has_next %}
            <li style ="display: inline-block" class="page-item"><a href="{{url_for('ciim.posts',page=posts.page+1)}}" class="page-link" href="#">{{posts.page+1}}</a></li>
            {% endif %}
            {% if posts.has_next %}
            <li  style ="display: inline-block"class="page-item">
                <a class="page-link" href="{{url_for('ciim.posts',page=posts.page+1)}}" aria-label="Next">
                <span class="sr-only">Siguiente</span>
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
            </ul>
        </nav>
        </div>
    {% if current_user.is_authenticated %}
        <div class="row">
            <div class="12u 12u(mobilep)">
                <ul class="actions">
                    <li><a href="{{url_for('ciim.newproject')}}"><input type="submit" value="Crear Proyecto" /></a></li>
                    <li><a href="{{url_for('ciim.myprojects')}}"><input type="submit" value="Mis Proyectos" /></a></li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endif %}
{% else %}
{% if current_user.is_authenticated %}
<div class="row">
    <div class="12u 12u(mobilep)" style="text-align: center;">
        Wow... Parece que no hay ningún proyecto <a href="{{url_for('ciim.newproject')}}">¡Create uno!</a>
    </div>
</div>
{% else %}
<div class="row">
    <div class="12u 12u(mobilep)" style="text-align: center;">
        Wow... Parece que no hay ningún proyecto <a href="{{url_for('ciim.inscripciones')}}">¡Inscribete y ayúdanos!</a>
    </div>
</div>
{% endif %}
{% endif %}

{% endblock %}