{% extends 'base.html' %}

{% block title %}
{{post.title}}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/markdown.css')}}" />
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
<script>
        
        document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('code').forEach((block) => {
          hljs.highlightBlock(block);
        });
      });
</script>
{% endblock %}

{% block main %}
{% if not html %}
<div class="row" style="text-align: center;">
    <p style="width: 100%;">Vaya... Parece que este proyecto no tiene nada todavia, habrá que esperar a que {{author.name}} lo edite</p>
</div>
{% else %}
<div class="major container 100%">
<p><b>Miembro del club:</b>{{author.name}}</p>
{% if current_user.is_authenticated %}
    {% if post.isliked(current_user) %}
        <a class="btn btn-danger" href="{{url_for('ciim.post', id=post.id , unlike=True)}}">
        <i class="fa fa-heart"></i>{{post.likes}}</a>
    {% else %}
        <a class="btn btn-danger" href="{{url_for('ciim.post', id=post.id , like=True)}}">
        <i class="fa fa-heart-o"></i>{{post.likes}}</a>
    {% endif %}
{% else %}
<i class="fa fa-heart-o"></i>{{post.likes}}      
{% endif %}
</div>
<div class="major container 100%">
    <div class="content">

        <h1>{{post.title}}</h1>
        <p style="width:100%; text-align: center;">{{post.description}}</p>
    </div>
</div>
<div class="proyecto" >
    <div class="markdown">
        {{ html|safe }}
    </div>
</div>
{% endif %}
{% if current_user.is_authenticated %}
    {% if current_user.id == post.user_id %}
    <div class="row">
        <div class="12u 12u(mobilep)">
            <ul class="actions">
                <li><a href="{{url_for('ciim.post', id=post.id , delete=True)}}"><input type="submit" value="Borrar Proyecto" /></a></li>
                <li><a href="{{url_for('ciim.editor', id=post.id)}}"><input type="submit" value="Editar Proyecto" /></a></li>
            </ul>
        </div>
    </div>
    {% endif %}
{% endif %}
{% endblock %}