{% extends 'base.html' %}

{% block title %}
Reglamento
{% endblock %}

{% block main %}
<div id="main">

    <header class="major container 75%">
        <h2>Reglamento General
            <br />
            Centro de Investigación e Innovación Mecatrónica
            <br />
            CIIM</h2>
    </header>

    <div class="box container">
        <header>
            <h2>Parte I. Normativa de Funcionamiento Interno.</h2>
        </header>

        <section>
            <header>
                <h3>Parte I.I. De las reuniones del CIIM.</h3>
            </header>

            <section>
                <p><strong>Art.1.</strong>Todos los miembros deben ser puntuales para el inicio y cierre de las
                    reuniones en las que sean convocados, respetándose un margen de cinco minutos
                    de retardo en su inicio y finalización.</p>
            </section>

            <!-- <section>
                <p><strong>Art.2.</strong> Todos los miembros deben asegurarse de apagar o colocar en modo
                    silencioso
                    sus respectivos teléfonos móviles durante las reuniones, así como evitar
                    abandonar la reunión antes de la hora establecida para su finalización.</p>
            </section> -->

            <section>
                <p><strong>Art.2.</strong> Los miembros deben respetar y permitir la libre expresión de
                    cualquiera de los
                    integrantes del mismo, bajo la salvedad de que este no exceda un tiempo mayor a diez
                    minutos en su intervención y se dé el derecho de palabra equitativamente, durante una
                    reunión ordinaria.</p>
            </section>

            <section>
                <p><strong>Art.3.</strong> El debate y la discusión de ideas son las estrategias para el
                    planteamiento de
                    problemáticas dentro de las reuniones, a partir de las cuales se realiza una votación para
                    decidir las alternativas a ejecutar y descartar otras opciones.</p>
            </section>

            <section>
                <p><strong>Art.4.</strong> Se debe delegar la función de comunicación de las fechas, horas y
                    temáticas de
                    reuniones a la comisión de Relaciones Públicas, para avisar a todos los interesados de las
                    actividades que el CIIM llevará a cabo, con una antelación no menor a tres días. Esta
                    función abarca la publicación por medios virtuales, avisos telefónicos y personales, de
                    manera individual.</p>
            </section>

            <section>
                <p><strong>Art.5.</strong> Durante cada reunión se llevarán anotaciones de las ideas planteadas
                    y aprobadas,
                    así como de los puntos discutidos, las informaciones dadas, las tareas delegadas y demás
                    aspectos pertinentes.</p>
            </section>

            <section>
                <p><strong>Nota:</strong> Dentro de las anotaciones de las reuniones deben incluirse fecha,
                    hora y puntos a
                    tratar de la siguiente reunión, permitiéndose el establecimiento de puntos inicialmente no
                    previstos.</p>
            </section>
        </section>

        <hr />

        <section>
            <header>
                <h3>Parte I.II. De las votaciones.</h3>
            </header>

            <section>
                <p><strong>Art.7.</strong> Se considera las votaciones como medio único para la toma de
                    decisiones de
                    carácter institucional, que afecten el desarrollo de las actividades y los intereses del
                    CIIM.</p>
            </section>

            <section>
                <p><strong>Art.8.</strong> Para aprobar una acción, actividad, tema de proyecto o cualquier
                    otra decisión, se
                    debe realizar una votación donde estén presentes, como mínimo, la mitad más uno de la
                    totalidad de los miembros del CIIM, y que a su vez, voten a favor de la misma, la mitad
                    más uno de los miembros asistentes a dicha votación.</p>
            </section>

            <section>
                <p><strong>Art.8.1.</strong> Está contemplado que para derogar una decisión interna, se
                    requiere una votación
                    extraordinaria, donde voten al menos tres cuartas partes de los miembros totales del CIIM,
                    y sea aprobado por al menos las tres cuartas partes de los presentes.</p>
            </section>

            <section>
                <p><strong>Art.9.</strong> Se considera necesario y obligatorio hacer votaciones para:
                    elecciones de
                    coordinadores de comisiones, aprobación de propuestas de proyectos, aprobación de
                    propuestas de actividades, aprobación de cronograma de reuniones y planificaciones,
                    aprobación de uso de recursos, aprobación de viajes y visitas guiadas, aprobación de
                    participación del CIIM en congresos y/o concursos tecnológicos.</p>
            </section>
        </section>

        <hr />

        <section>
            <header>
                <h3>Parte I.III. De Proyectos y actividades.</h3>
            </header>

            <section>
                <p><strong>Art.10.</strong> A partir de la aprobación de un proyecto, se generará una Comisión
                    Académica, la
                    cual está compuesta por un grupo de personas, que por decisión propia, quieren llevar a
                    cabo el proyecto, donde se comprometen a diseñar y presentar una o más propuestas de
                    solución a la problemática de dicho proyecto de forma escrita y oral.</p>
            </section>

            <section>
                <p><strong>Art.11.</strong> El documento de la propuesta debe contener: planteamiento del
                    problema,
                    objetivos, alcances, limitaciones, diseños, simulaciones, presupuestos, entre otros puntos.
                    Redactado en lenguaje formal y cumpliendo normativas metodológicas respectivas.</p>
            </section>

            <section>
                <p><strong>Art.12.</strong> El documento debe ser presentado por la Comisión Académica a la
                    Coordinación
                    General para su revisión y luego aprobación por parte de la Asamblea General.</p>
            </section>
        </section>

        <hr />

        <section>
            <header>
                <h3>Parte I.IV. De las sanciones.</h3>
            </header>

            <section>
                <header>
                    <h4>Parte I.IV.I. De las sanciones disciplinarias.</h4>
                </header>

                <section>
                    <p><strong>Art.13.</strong> Se considerará como falta disciplinaria a todo tipo de acción
                        realizada por uno o
                        varios miembros del CIIM, que vaya en contra del presente reglamento y afecte el
                        funcionamiento del mismo.</p>
                </section>

                <section>
                    <p><strong>Art.14.</strong> La comisión de Asuntos Internos se encarga de determinar la
                        sanción requerida
                        según la magnitud de la o las faltas disciplinarias que pueda infringir algún miembro
                        del
                        CIIM. Tal sanción es comunicada en reunión a los demás miembros.</p>
                </section>
            </section>

            <section>
                <header>
                    <h4>Parte I.IV.II. De las sanciones por mal uso de recursos.</h4>
                </header>

                <section>
                    <p><strong>Art.15.</strong> Si algún miembro extravía o inhabilita un equipo que pertenezca
                        al CIIM deberá
                        reponer el equipo o pagarlo, según los costos del mercado actual, bajo términos
                        acordados
                        con la comisión de Asuntos Internos y Tesorería.</p>
                </section>
            </section>

        </section>

    </div>

    <div class="box container">
        <header>
            <h2>Parte II. Perfil del miembro del CIIM.</h2>
        </header>

        <section>
            <p><strong>Art.16.</strong>
                Un miembro del CIIM debe cumplir el siguiente perfil: ser estudiante inscrito de la
                URU, asistir a las actividades llevadas a cabo por el CIIM, al menos a dos de ellas al
                semestre, demostrar responsabilidad, respeto, interés, honestidad, colaboración, valores
                conservacionistas y humanos.</p>
        </section>

        <section>
            <p><strong>Art.17.</strong> Se considera aspirante a miembro del CIIM a una persona que solicita
                ingresar al
                CIIM, pero que aún no cumple con los requisitos del perfil planteado en el artículo
                anterior.</p>
        </section>
    </div>

    <div class="box container">
        <header>
            <h2>Parte III. Disposiciones Organizativas</h2>
        </header>

        <section>
            <p><strong>Art.18.</strong> La disposición organizativa del CIIM estará precedida por la asamblea
                general
                como máximo órgano administrativo, este tendrá la potestad para nombrar las diversas
                comisiones internas que garantizaran la factibilidad operativa.</p>
        </section>

        <section>
            <p><strong>Art.19.</strong> Se establecen formalmente las comisiones como un conjunto de órganos
                independientes, precedidos por un profesor o responsable nombrado previa discusión por
                la asamblea, que actuara como responsable de las actividades encargadas a dicha
                comisión.</p>
        </section>

        <section>
            <p><strong>Art.20.</strong> El CIIM establece dentro de su estructura administrativa las siguientes
                comisiones
                nombradas a continuación:</p>

            <section>
                <p><strong>Art.20.1. Coordinación General,</strong> comisión establecida y precedida por
                    el(los) profesor(es)
                    tutor(es) pertenecientes al CIIM; dentro de sus responsabilidades se integran la
                    representación ante la universidad de las actividades del grupo en las áreas de
                    coordinación de actividades, organización interna, objetivos organizacionales, planeación
                    de actividades, asesoría técnica y científica, asesoría metodológica, asesoría en la
                    apertura de líneas de investigación en los marcos que establecen las leyes de la república
                    y
                    el reglamento universitario vigentes.</p>
            </section>

            <section>
                <p><strong>Art.20.2. Asuntos Internos,</strong> comisión establecida y precedida por un(os)
                    estudiante(s)
                    pertenecientes al CIIM, que por su trayectoria dentro de la organización han demostrado
                    cualidades para pertenecer a la comisión; dentro de sus responsabilidades se integran el
                    registro de votaciones realizadas en la asamblea general, actividades, proyectos,
                    asistencias, aplicación de sanciones disciplinarias o administrativas, consideración de
                    estudiantes aspirantes; a su vez dicha comisión facilitara información a la Coordinación
                    General para fines diversos enmarcados en sus responsabilidades o responsabilidades
                    enmarcadas a otras comisiones.</p>
            </section>

            <section>
                <p><strong>Art.20.3. Relaciones Públicas,</strong> comisión establecida y precedida por un(os)
                    estudiante(s)
                    pertenecientes al CIIM, que por su trayectoria dentro de la organización han demostrado
                    cualidades para pertenecer a la comisión; dentro de sus responsabilidades se integran la
                    promoción de las actividades del CIIM en la universidad utilizando para ello los distintos
                    medios de comunicación disponibles, así mismo el establecimiento de relaciones con otras
                    instituciones de carácter Público o Privado contando para ello con todas las atribuciones
                    y potestades requeridas por las leyes de la república y del reglamente interno vigente.</p>
            </section>

            <section>
                <p><strong>Art.20.4. Tesorería,</strong> comisión establecida y precedida por un(os)
                    estudiante(s)
                    pertenecientes al CIIM, que por su trayectoria dentro de la organización han demostrado
                    tener cualidades para pertenecer a la comisión; dentro de sus responsabilidades se
                    integran el establecimiento y administración de las finanzas, provengan estas de
                    asignación presupuestaria de la universidad o interna; así como el registro, inventario y
                    resguardo de todas las pertenecías que haya obtenido en CIIM por diversos medios,
                    dispondrá de las cualidades administrativas para el asesoramiento en la elaboración y
                    solicitud de presupuestos instituciones, personas jurídicas o particulares; por lo tanto
                    dicha comisión tendrá la potestad para planificar actividades de recolección de fondos que
                    permitan el financiamiento interno dentro de las leyes de la república y el reglamento
                    vigente.</p>
            </section>

            <section>
                <p><strong>Nota:</strong> Las comisiones disponen de facultades organizacionales independientes
                    con el fin de
                    agilizar su funcionamiento, resultando así las subcomisiones realizadas a juicio interno de
                    los participantes siempre y cuando las funciones contempladas sean satisfechas.</p>
            </section>
        </section>
    </div>

    <div class="box container">
        <header>
            <h2>Parte IV. Disposiciones Finales.</h2>
        </header>

        <section>
            <p><strong>Art. Único.</strong> Cualquier situación no contemplada dentro de esta normativa, será
                abordada
                por la asamblea general en reunión extraordinaria, donde se establecerán las
                disposiciones a seguir.</p>
        </section>
    </div>

</div>
{% endblock %}