{% from "macros.html" import render_input %}
{% extends 'base.html' %}

{% block title %}
Cambiar Contraseña
{% endblock %}

{% block main %}
    <form action="{{ url_for_security('change_password') }}" method="post" name="change_password_form">
        {{ change_password_form.hidden_tag() }}
        <div class="row">
            <div class="12u 12u(mobilep)">
                {{ render_input(change_password_form.password, "Contraseña", "text-align: center;") }}
            </div>
        </div>
        <div class="row">
            <div class="12u 12u(mobilep)">
                {{ render_input(change_password_form.new_password, "Contraseña nueva", "text-align: center;") }}
            </div>
        </div>
        <div class="row">
            <div class="12u 12u(mobilep)">
                {{ render_input(change_password_form.new_password_confirm, "Repita la contraseña nueva", "text-align: center;") }}
            </div>
        </div>
        <div class="row">
            <div class="12u 12u(mobilep)">
                <ul class="actions">
                    <li><input type="submit" value="cambiar contraseña" /></li>
                </ul>
            </div>
        </div>

    </form>
{% endblock %}