{% from "macros.html" import render_input %}
{% extends 'base.html' %}

{% block title %}
Recuperar Contraseña
{% endblock %}

{% block main %}
    <form action="{{ url_for_security('forgot_password') }}" method="post" name="forgot_password_form">
        {{ forgot_password_form.hidden_tag() }}
        <div class="row">
            <div class="12u 12u(mobilep)">
                {{ render_input(forgot_password_form.email, "Email", "text-align: center;") }}
            </div>
        </div>
        <div class="row">
            <div class="12u 12u(mobilep)">
                <ul class="actions">
                    <li><input type="submit" value="recuperar contraseña" /></li>
                </ul>
            </div>
        </div>

    </form>
{% endblock %}