{% from "macros.html" import render_input, render_field %}
{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}

{% block main %}
    <form action="{{ url_for_security('login') }}" method="post" name="login_user_form">
        {{ login_user_form.hidden_tag() }}
        <div class="row">
            <div class="12u 12u(mobilep)">
                {{ render_input(login_user_form.email, "Email", "text-align: center;") }}
                <!--<input id="email" style="text-align: center;" type="text" name="email" placeholder="email" />-->
            </div>
        </div>
        <div class="row">
            <div class="12u 12u(mobilep)">
                {{ render_input(login_user_form.password, "Contraseña", "text-align: center;") }}
                {{ render_field(login_user_form.next) }}
            </div>
        </div>
        <div class="row">
            <div class="12u 12u(mobilep)"style="text-align: center;" >
                Recuérdame <input id="remember" type="checkbox" name="remember" value="y" />
            </div>
        </div>
        <div class="row">
            <div class="12u 12u(mobilep)"style="text-align: center;" >
                <a href="{{url_for_security('forgot_password')}}">¿Has olvidado tu contraseña?</a>
            </div>
        </div>
        <div class="row">
            <div class="12u 12u(mobilep)">
                <ul class="actions">
                    <li><input type="submit" value="login" /></li>
                </ul>
            </div>
        </div>

    </form>
{% endblock %}