{% from "macros.html" import render_input, render_field %}
{% extends 'base.html' %}
{% block title %}
Restablecer Contraseña
{% endblock %}

{% block main %}
    <form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="post" name="reset_password_form">
        {{ reset_password_form.hidden_tag() }}
        <div class="row">
            <div class="12u 12u(mobilep)">
                {{ render_input(reset_password_form.password, "Contraseña", "text-align: center;") }}
            </div>
        </div>
        <div class="row">
            <div class="12u 12u(mobilep)">
                {{ render_input(reset_password_form.password_confirm, "Repita la contraseña", "text-align: center;") }}
            </div>
        </div>
        <div class="row">
            <div class="12u 12u(mobilep)">
                <ul class="actions">
                    <li><input type="submit" value="establecer contraseña" /></li>
                </ul>
            </div>
        </div>

    </form>
{% endblock %}